[2021-04-14 08:21] FeynmanZhou opened #5 "Roadmap document"
Is there a roadmap for OpenFunction?

[2021-04-14 09:18] benjaminhuo commented on #5
Will add one soon

[2021-04-20 03:01] tpiperatgod opened #13 "In-page link fail in "Setup OpenFunction Serving with Knative""
There is an error with the ```section``` In-page link.

[2021-04-20 03:01] tpiperatgod commented on #13
/assign @tpiperatgod

[2021-04-20 03:27] #13 closed

[2021-04-26 03:38] benjaminhuo commented on #5
https://github.com/OpenFunction/OpenFunction/blob/main/docs/roadmap.md roadmap can be found here

[2021-04-26 03:38] #5 closed

[2021-04-29 09:42] tpiperatgod opened #29 "Project proposal: OpenFunction CLI"
# Abstract

OpenFunction requires a command line tool to manage itself and its associated resources.

This command line tool will have the following features:

- A more elegant way to display logs and progress
  It can collect logs and events of OpenFunction's resources in kubernetes and display them after correlation processing.
- Targeted resource manipulation
  It will simplify the parameters s

[2021-04-30 04:59] benjaminhuo commented on #29
of could be changed to `fn` or `func`
You can write a proposal like https://github.com/thanos-io/thanos/tree/main/docs/proposals and submit a PR

[2021-04-30 05:18] tpiperatgod commented on #29
Ok, I'll reorganize the proposal later

[2021-05-07 08:54] #29 closed

[2021-05-09 03:08] tpiperatgod opened #33 "curl: (6) Couldn't resolve host 'xxxx' when using xip.io as DNS"
When using `xip.io` as DNS for Knative-serving, I can't resolve to ksvc's url after the function has created.

Got this:

[code]

There is a workaround:

1. Check if you can use [Real DNS](https://knative.dev/docs/install/install-serving-with-yaml/#configure-dns). Follow the Step 2 if it works otherwise you should check the coredns and nodelocaldns.
2. When you get into step 2, it means the probab

[2021-05-09 06:04] tpiperatgod commented on #33
The configuration of Magic DNS has been updated and can be deployed with the following command:

[code]

[2021-05-10 12:39] #33 closed

[2021-07-16 03:38] FeynmanZhou opened #81 "OpenFunction website Initiation"
After we discussed the website initiation in our community call, we are going to use a Hugo template [Docsy](https://github.com/google/docsy) to build the OpenFunction website from scratch.

Proposed steps:
1. Create a new GitHub repo for this website in [OpenFunction Org](https://github.com/OpenFunction).
2. Initiate the website framework.
3. Make it accessible, we can preview it locally or acces

[2021-07-16 03:39] FeynmanZhou commented on #81
/cc @yuanyi-au

[2021-07-28 07:01] FeynmanZhou commented on #81
Please also help to add the instruction in the [README](https://github.com/OpenFunction/website), see [KubeSphere website](https://github.com/kubesphere/website#kubesphere-website) as an example.

[2021-08-02 07:16] tpiperatgod opened #87 "Add a todo list for OpenFunction events framework"
In PR #83 we set up the basic OpenFunction events framework. There are still some refinement work and feature development tasks that we need to complete.

**What can it currently do**
- Ability to handle NATS streaming type EventBus
- Ability to handle Redis, Kafka, Cron(scheduler) type EventSources
- EventSources can trigger Knative Service synchronization calls
- The EventSource can send events

[2021-08-02 07:18] tpiperatgod opened #88 "Improve the state management mechanism of EventSource and Trigger"

[2021-08-02 07:23] tpiperatgod commented on #87
For the task "Add samples && concept docs", I have added the relevant documentation: [OpenFunction Events Framework](https://github.com/OpenFunction/OpenFunction/blob/main/docs/concepts/OpenFunction-events-framework.md)

[2021-08-02 07:58] benjaminhuo commented on #87
It's better to add a link to this doc in the README

[2021-08-02 07:59] benjaminhuo commented on #87
@tpiperatgod It's better to add a link to this doc in the README

[2021-08-02 08:02] tpiperatgod commented on #87
Okay, I will find a suitable place to add it.

[2021-08-04 12:34] #88 closed

[2021-08-12 10:02] tpiperatgod opened #97 "Judgment logic for events in Trigger"

[2021-08-12 10:02] tpiperatgod commented on #97
/assign @tpiperatgod

[2021-08-13 03:42] tpiperatgod commented on #97
Added the [events-handlers](https://github.com/OpenFunction/events-handlers) repo

[2021-08-13 08:26] tpiperatgod commented on #97
## Overview

**Conditions** performs a logical operation on **input.name** to determine whether to trigger the subscriber based on the result of the operation.

## Design

### Struct

**TriggerEnvConfig** is used to receive and process events passed by the OpenFunction events framework.

**TriggerMgr** is used to store informations during the event triggering process, providing the ability for con

[2021-08-13 08:38] tpiperatgod commented on #97
pprof result of heap [alloc-objects.pdf](https://github.com/OpenFunction/OpenFunction/files/6981094/alloc-objects.pdf)

[2021-08-16 12:55] tpiperatgod opened #98 "Abstraction of the specification of the dapr component in CRD"

[2021-08-18 03:39] #97 closed

[2021-08-18 03:39] #98 closed

[2021-08-31 11:12] magixsource opened #113 "Is any Chinese portal website ?"
WHy not build a portal site to intro openfunction?   What diff of openFaas and OpenFunction。Thanks a ton.

[2021-08-31 11:59] tpiperatgod commented on #113
Hi, we are working on the OpenFunction [website](https://github.com/OpenFunction/website), which you can see in the latest [PR](https://github.com/OpenFunction/website/pull/6) that I have submitted some of the English documentation, and I will submit the corresponding Chinese documentation soon.

Regarding the comparison between OpenFaaS and OpenFunction, I personally consider that OpenFunction is

[2021-08-31 12:01] tpiperatgod commented on #113
You can view our [roadmap](https://github.com/OpenFunction/OpenFunction/blob/main/docs/roadmap.md) to see our plans.

[2021-08-31 13:19] benjaminhuo commented on #113
OpenFunction has late-mover advantage over OpenFaaS and will eventually get its place in the FaaS area.

[2021-09-01 01:07] magixsource commented on #113
Good Jobs and Thanks!  @tpiperatgod @benjaminhuo :)

[2021-09-01 01:07] #113 closed

[2021-09-22 06:50] xinydev opened #119 "Wrong link in About"
![1](https://user-images.githubusercontent.com/7876887/134296058-30eaacbd-9c76-4b88-9e92-569529193027.jpeg)

shoud be https://openfunction.dev

[2021-09-22 06:51] FeynmanZhou commented on #119
Thanks for your feedback, fixed.

[2021-09-22 06:51] #119 closed

[2021-09-22 06:54] benjaminhuo commented on #81
We can close this issue now? @FeynmanZhou

[2021-09-22 06:55] FeynmanZhou commented on #81
Yes.

[2021-09-22 06:55] #81 closed

[2021-09-22 06:57] FeynmanZhou commented on #113
The Chinese version is available: https://openfunction.dev/zh/

[2021-10-08 05:45] tpiperatgod opened #124 "Using OpenFunction Serving to drive the workloads of EventSource and Trigger"

[2021-10-08 09:47] zhaibian opened #125 "api sdk will be supported for OpenFunction?"
https://openfunction.dev/zh/docs/roadmap/
at roadmap do not find api plan. This is a strong demand for being called by third-party integration.

[2021-10-08 10:24] benjaminhuo commented on #125
@zhaibian You mean REST api? Yeah, OpenFunction don't have an separate API server
Currently, OpenFunction's API are all CRDs which means you can call OpenFunction's API the same way you call kubernetes deployment API https://v1-19.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/

[2021-10-08 11:16] benjaminhuo commented on #125
Understood. The [roadmap](https://github.com/OpenFunction/OpenFunction/blob/main/docs/roadmap.md) mentions webui and that requires some sort of APIs, so there is plan for API actually. Maybe also in a serverless fassion.

[2021-10-09 06:12] #124 closed

[2021-10-11 03:45] benjaminhuo commented on #125
![WechatIMG3550](https://user-images.githubusercontent.com/18525465/136730322-ae1201a5-c524-4bdb-aa67-749a74fa4973.jpeg)
@zhaibian You're welcomed to join the wechat group

[2021-10-13 03:33] jingb opened #128 "install openFunction failed"
kubectl apply -f https://github.com/OpenFunction/OpenFunction/releases/download/v0.3.1/bundle.yaml

The CustomResourceDefinition "builders.core.openfunction.io" is invalid: status.storedVersions[0]: Invalid value: "v1alpha2": must appear in spec.versions

[2021-10-13 05:56] benjaminhuo commented on #128
@tpiperatgod @wanjunlei There shouldn't be such problem if applying v0.3.1/bundle.yaml? looks like problem caused by applying latest/bundle.yaml?

[2021-10-13 06:03] tpiperatgod commented on #128
It seems to be installing v0.3.1 based on the latest version, you can uninstall them before installing.

[2021-10-20 06:39] erdun opened #139 "Install openfunction failed"
Kubectl version
[code]

How to install openfunction
[code]

[2021-10-26 09:54] wu-sheng opened #146 "[Discussion] Integration possibility of bundled go2sky"
Hi @FeynmanZhou, I want to set up this thread talking about the tech possibility of bundled go2sky.

FaaS is basically highly distributed, even more complex than micro-services or meshed services. With SkyWalking topology and endpoint dependency, we could visualize the function dependency.

![image](https://user-images.githubusercontent.com/5441976/138855217-46adca57-e3ed-43c2-8003-a3db1ab1fe0b.pn

[2021-11-02 09:54] tpiperatgod commented on #87
Since we have completed the main part of the events framework, I think we can close this issue.

And the work of enriching and improving the events framework can be tracked by opening a separate issue according to the specific content and requirements.

[2021-11-02 14:20] #87 closed

[2021-11-02 14:20] benjaminhuo commented on #87
Agree

[2021-11-03 06:00] tpiperatgod opened #150 "Function ingress support"
According to the proposal [unified-access-entry](https://github.com/OpenFunction/OpenFunction/blob/main/docs/proposals/202111_unified_access_entry.md), we will begin work on the OpenFunction function ingress capability.

This issue will be used to track the progress of the capability development and ongoing requirements gathering.

[2021-11-03 14:46] arugal opened #152 "Make deploy.sh and delete.sh run properly on MacOS"
I notice that `getopt` is used in both `deploy.sh` and `delete.sh`, but macOS does not support this command by default.
Can we use another solution to replace `getopt`? Such as this:

[code]

[2021-11-03 15:04] benjaminhuo commented on #152
Good point, @arugal would you create a PR for this? @wanjunlei @tpiperatgod pls help to review this

[2021-11-03 15:05] arugal commented on #152
Yes :)

[2021-11-03 15:15] arugal commented on #152
Also, what are the reasons for not delete `cert-manager`in `delete.sh`, can I add an option(`--with-cert-manager`) to delete it? @benjaminhuo

[2021-11-03 15:19] benjaminhuo commented on #152
@tpiperatgod @wanjunlei any idea?

[2021-11-04 01:20] tpiperatgod commented on #152
I think we can integrate the `deploy.sh` into the installation step.

The approach is roughly like this: Based on the user's selections, such as node OS, dependencies to be installed, kubernetes version, OpenFunction version, etc., a command is generated, and then the user only needs to execute this command to complete the entire installation process.

[2021-11-04 01:36] wanjunlei commented on #152
I think we can use openfunction cli to install all dependencies like dapr. All installation scripts can be integrated into cli.

[2021-11-04 02:42] benjaminhuo commented on #152
Sounds cool if adding this into cli

[2021-11-04 06:15] #152 closed

[2021-11-07 13:56] benjaminhuo commented on #146
I've add this to roadmap https://github.com/OpenFunction/OpenFunction/pull/156

[2021-11-13 03:36] lizzzcai commented on #146
Hi, I noticed this new roadmap item for openfunction https://github.com/OpenFunction/OpenFunction/pull/156, but it seems like mainly for `Skywalking`. Is it means openfunction will mainly use `Skywalking` for its tracing function? (correct me if i am wrong).

I saw `OpenTelemetry` was mentioned as well, what is the road map for it? And what is the priority for them?

As a user I am expecting suppo

[2021-11-13 03:57] wu-sheng commented on #146
OpenTelemetry and OpenTracing are explained above, which are different from APM. Like dynatrace, they have their native agents, which are much more powerful than just tracing.
This context is general empowering FAAS, not just tracing the calls.

[2021-11-13 04:56] lizzzcai commented on #146
Thanks Wu Sheng for your reply. Understood that Skywalking has some unique
features than just tracing, logging and metrics. Like you said above,
probably should separate the opentelemetry into another thread.

On Sat, 13 Nov 2021 at 11:57 AM, 吴晟 Wu Sheng ***@***.***>
wrote:

[2021-11-13 13:35] #150 closed

[2021-11-13 15:12] lizzzcai opened #159 "Questions on unified access entry and feature requests"
**Description**
A clear and concise description of what the feature is.

Hi OpenFunction, I saw the new feature of the [unified access entry](https://github.com/OpenFunction/OpenFunction/blob/main/docs/proposals/202111_unified_access_entry.md) was added https://github.com/OpenFunction/OpenFunction/pull/158. I have some queries on this feature and also have some requirements not sure if it can be s

[2021-11-13 15:19] benjaminhuo commented on #159
@lizzzcai Thanks for the detailed description!
We'll think about what you're talking about

[2021-11-13 15:40] lizzzcai opened #160 "[Feature request]Observability of OpenFunction"
**Description**
A clear and concise description of what the feature is.

Hi OpenFunction team, I checked the [roadmap](https://github.com/OpenFunction/OpenFunction/blob/main/docs/roadmap.md#roadmap) and want to know if OpenFunction support basic logging, metric and tracing. If yes, is there any docs for this? If not, is there any plan on this. Thanks. (referring to https://github.com/OpenFunction/

[2021-11-14 09:35] benjaminhuo commented on #160
@lizzzcai Very good user stories! Logging can be handled by container platforms like KubeSphere. And yes, we need to consider how to support function metrics and tracing

[2021-11-14 10:03] benjaminhuo commented on #159
@lizzzcai I'm trying to answer some of your concerns:

Benjamin: Yes, other ingress controller are supported, we'll add a doc to elaborate on this

Benjamin: Good point, we'd like to support gateway API as long as it's getting mature and popular enough

Benjamin: Istio is kind of heavy, and knative serving itself is using Kourier to replace it.

Benjamin: We would like to use Kourier as the recomm

[2021-11-15 02:19] wanjunlei commented on #159
Now, we can access the function in this way.

[code]

[2021-11-15 03:02] tpiperatgod commented on #159
I think the scope of OpenFunction probably doesn't need to involve the gateway, but just using them.

[2021-11-15 03:58] lizzzcai commented on #159
Hi @wanjunlei, thanks for your reply.

Yes, with the new unified access entry, I can use it for path-based routing, which meets the request. Perhaps in the future can support a more flexible domain defination like [domainTemplate](https://github.com/knative/networking/blob/main/config/config-network.yaml#L86-L109).

For example,
currently, we are using istio virtual service to expose our service,

[2021-11-17 09:30] tpiperatgod opened #161 "[Proposal]Optimization of readme"
**Proposal**
- Motivation
The current Readme document presents too much content, and I suggest that the content be optimized and triaged to highlight key information.
- Goals
Move references to the website and prioritize samples and user-cases for display
- Example

- Action Items
  1. Adjust readme
  2. Adjust website

[2021-11-17 09:41] FeynmanZhou commented on #161
+1, I have written a [readme template ](https://github.com/FeynmanZhou/doc_guide/blob/b017ae2873d69e9a2b5cdb1406a3a9ca0351ef3d/readme_guide.md)including recommendations before. Hope it can help our community to refactor the README.

[2021-11-17 10:00] tpiperatgod commented on #161
I will refer to this template to optimize the readme of OpenFunction, thx!

[2021-11-17 10:09] tpiperatgod opened #162 "Integrate KEDA http-add-on into OpenFunction"
**Description**
Since kedacore/http-add-on has been released to [v0.2.0](https://github.com/kedacore/http-add-on/releases/tag/v0.2.0), can't we integrate it into OpenFunction as an option to the OpenFuncSync type function?

[2021-11-17 10:13] tpiperatgod commented on #162
@benjaminhuo @wanjunlei I've done a basic verification of the v0.2.0 version of keda http-add-on and it should functionally satisfy our requirements for the OpenFuncSync function.

[2021-11-17 10:14] benjaminhuo commented on #162
http-add-on v0.2.0 is still beta, refectoring like https://github.com/kedacore/http-add-on/issues/240 is still in progress.
let's wait for a bit longer

[2021-11-17 11:35] tpiperatgod commented on #162
Okay, I will keep watching

[2021-11-18 14:53] benjaminhuo commented on #159
@lizzzcai We're considering renaming Domain CRD to Gateway CRD and adding support to Host and Path. The Gateway CRD design will be similar to the K8s gateway CRD and the default underlying controller will be [APISIX](https://github.com/apache/apisix-ingress-controller)

[2021-11-18 14:56] FeynmanZhou commented on #159
@benjaminhuo

If possible, we could invite the maintainers from [APISIX](https://github.com/apache/apisix-ingress-controller) to help us to implement this part.

[2021-11-18 14:57] FeynmanZhou commented on #161
If you optimize it first, I will review and refine it based on your updates.

[2021-11-19 05:25] lizzzcai commented on #159
Hi @benjaminhuo , thanks for your update. `APISIX` is a good project as well, hope to see it soon. When you said the `default` controller, is it means it can switch/support other controllers as well like `Kourier`, as you mentioned above.

[2021-11-21 11:48] benjaminhuo commented on #159
The gateway we're discussing basically use APISIX as one of our implementations, in another word, we simply use APISIX.
APISIX itself is implementing K8s gateway API, maintainers from APISIX could give us some advice about using it but there might be less chance for them to get involved in the dev of OpenFunction

[2021-11-22 06:48] tpiperatgod opened #164 "Updates to the event api do not trigger updates to the function(dapr components)"
**Description**
When an event api resource, such as an EventSource resource, is updated, the corresponding dapr components are not updated.

**Environmental**
Tell us what your cluster environment is like, e.g.

- Operating System Information
Ubuntu 18.04 x86_64
- kubernetes version
v1.22.2+k3s2
- OpenFunction version
v0.4.0 and latest
- Versions of dependent components (e.g. dapr, keda, shipwrigh

[2021-11-23 13:14] tpiperatgod opened #165 "[Discussion] Add the ability to control concurrency of functions"
**Description**
In the actual running of the function, we may need to control the concurrency of the function.

The current serving engines of OpenFunction - Knative Serving and Dapr - both have the ability to control runtime concurrency. We need to express this in the Function CRD in some concise and explicit way (annotations, properties, etc.)

**Additional context**
Reference:
https://knative.d

[2021-11-23 15:11] #139 closed

[2021-11-24 02:11] lizzzcai commented on #165
for all these configs, are you planning to expose it as it is or have the OpenFunction own-defined parameters/annotations? like:
`autoscaling.openfunction.io/target: "200"` or `openfunction.io/app-max-concurrency: "1"`

then map to different annotations based on the serving engine used by the user.

openFunction has different serving engines. The users probably don't want to know and learn what is

[2021-11-24 02:27] benjaminhuo commented on #165
Good Point, we'll considering this @tpiperatgod @wanjunlei

[2021-11-24 03:18] tpiperatgod commented on #165
If it is possible to pass these parameters through as much as possible I think it is the better solution, but maybe we have to use a high-level wrapper to handle them?

I will try to make a rough option first for reference and we can also talk about this in meeting.

[2021-11-25 08:52] tpiperatgod opened #167 "Add OpenFunction Katacoda scenario"
**Description**
We could add a **Katacoda scenario** for OpenFunction. Like https://www.katacoda.com/kubesphere/

This helps to demonstrate OpenFunction quickly and makes sense if the user lacks the cluster resources.

**Additional context**
https://www.katacoda.com/kubesphere/

[2021-11-26 03:57] x893675 commented on #167
/assign @x893675

[2021-11-26 04:20] FeynmanZhou commented on #167
Hi @x893675 ,

Thanks for your interest! We could collaborate with you to finish it. The [previous Katacoda scenarios](https://www.katacoda.com/kubesphere/) were developed and contributed by [@AbdelouahabMbarki](https://github.com/AbdelouahabMbarki), he could also help out with this feature.

[2021-11-27 04:59] x893675 commented on #167
this [openfunction scenarious](https://www.katacoda.com/x893675)  can work now.

### Issue:

#### Version incompatibility

workaround:
1. upgrade k8s version to v1.19.0 when katacoda k8s env runtime start
2. only install cert-manager, Shipwright builder, OpenFuncAsync serving runtime

please create repo **katacoda-scenarios** in org OpenFunction, i will create a PR

[2021-11-27 05:05] benjaminhuo commented on #167
@x893675 You can create a PR in the samples repo

[2021-11-27 05:08] benjaminhuo commented on #167
Thanks for the contribution! @x893675

[2021-11-27 06:04] FeynmanZhou commented on #167
Awesome, thanks for your contribution! Could you create a new folder in the [Sample repo](https://github.com/OpenFunction/samples). I will create a Katacoda URL with `katacoda.com/openfunction` later.

I noticed the issues of version incompatibility caused by the built-in Kubernetes version in Katacoda, but I am curious why the [Knative scenario](https://www.katacoda.com/javajon/courses/kubernetes

[2021-11-27 06:54] x893675 commented on #167
[Knative scenario](https://www.katacoda.com/javajon/courses/kubernetes-serverless/knative) use Knative v0.18.0, but [OpenFunction deploy.sh](https://github.com/OpenFunction/OpenFunction/blob/main/hack/deploy.sh) use Knative v0.26.0.

Knative [require Kubernetes 1.20 since v0.25.0](https://github.com/knative/serving/releases)

The highest k8s version that katacoda can be upgraded through `apt-insta

[2021-11-29 08:57] wanjunlei opened #168 "Support to keep the builder after the build is completed"
**Description**
Support to keep the builder after the build is completed, the user can set how many builders to keep.
Users can set the time for the builder to save and support deleting expired builders automatically.

**Additional context**

[2021-11-29 09:30] tpiperatgod opened #169 "Suggested recommended labels for OpenFunction's components"
### Description

Refer to https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/ to add the necessary labels to the components(deployment or pod) of OpenFunction so that it can provide efficient information to the user and can be adapted to some common queries.

For the deployment resource, I think at least the following labels need to be added:
[code]

[2021-11-29 15:23] benjaminhuo commented on #168
So, there are two criteria to purge the old builders: numbers of builders and the expiration time? These two options can be set simultaneously and seperately?

https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/
[code]

[2021-11-30 01:56] wanjunlei commented on #168
Yes, these two parameters can be set separately or at the same time, and meeting any one of the conditions will trigger the deletion mechanism when set at the same time.

[2021-11-30 07:34] benjaminhuo commented on #168
Souds good

[2021-11-30 10:11] tpiperatgod commented on #167
Close this issue since the OpenFunction Katacode scenarios works now.

[2021-11-30 10:11] #167 closed

[2021-12-03 06:20] benjaminhuo commented on #146
We've created an issue https://github.com/OpenFunction/functions-framework/issues/9 for the proposal of integrating tracing with OpenFunction.

[2021-12-07 16:10] Qiaoruiwu opened #172 "镜像找不到啊，好绝望"
好多国外的镜像dockerhub也找不到，真的实在是找不到，官方能把镜像打包到官方的openfunction 镜像仓库吗

[2021-12-08 03:00] benjaminhuo commented on #172
Transfer this issue to main repo and please use English for GitHub communication, Thanks

[2021-12-08 03:04] Qiaoruiwu commented on #172
作为一个中国人说中文不是很正常吗？拜托有点中文自信好吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "OpenFunction/OpenFunction"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年12月8日(星期三) 中午11:00
***@***.***&gt;;
***@***.*****

[2021-12-08 03:10] benjaminhuo commented on #172
This project aims to attract participants from all over the world, so English is better :)

[2021-12-09 09:57] zhaibian opened #173 "Add ability to control function instance pod min and max number at function schema"
**Description**
There are two scenes need to the ability  to control function instance pod min number.
- First
   Need to scale to zero.
- Second
   Need to remain some number function instance pod even if this function has not been any called. This scene is very useful for sensitive project which has clod startup 、pulling large image or long time init.

Upon ability can be supported to users who

[2021-12-09 10:02] benjaminhuo commented on #173
Thanks @zhaibian, this is a very good proposal and we'd like to add this.
@wenchajun would you create a PR for this request?

[2021-12-09 10:55] zhaibian commented on #173
Got your idea. This is my thinking:
1. keda can be defined at scaled object spec
2. but knative need to define using annotations ways which openfunction serving has not supported

Even it works, different ways to define the same ability which is not graceful.
Uniform definition ways is better to mask the underlying complexity.

[2021-12-09 11:20] benjaminhuo commented on #173
Agree, a unified definition to  min/max replicas is needed.
@wenchajun would you write a proposal for this and then create a PR?

[2021-12-09 11:52] benjaminhuo opened #174 "Add OpenFunction client"
**Description**
Add client to Openfunction for users who want to interact with Openfunction through code directly

**Additional context**
Just like the [fluentbit-operator client](https://github.com/fluent/fluentbit-operator/pull/51)

[2021-12-09 14:43] benjaminhuo commented on #164
@zhu733756 would you help to solve this?

[2021-12-09 14:55] zhu733756 commented on #164
Yeah, if this do not need to fix quickly, I will see these issues after the next week days when I finished fluentd pr.

[2021-12-09 14:56] zhu733756 commented on #165
Yeah.

[2021-12-09 15:09] lizzzcai commented on #165
As a temporal solution maybe, can we allow adding `label` and `annotation` to the serving.

for example:

[code]
This can help for Knative serving backend. We can use knative annotations, and even enable dapr as well. Which can probably help this issue as well: https://github.com/OpenFunction/OpenFunction/issues/173

Once OpenFunction has its own abstracted parameters, you can overwrite the annota

[2021-12-10 01:46] benjaminhuo commented on #164
All right

[2021-12-10 05:06] benjaminhuo commented on #165
@lizzzcai For now we can use [pod template](https://github.com/OpenFunction/OpenFunction/blob/main/apis/core/v1alpha2/serving_types.go#L140) to add labels and annotations for now, and yes we'll add a unified param as serving top-level param to control this.

[2021-12-11 10:35] benjaminhuo commented on #174
close this via https://github.com/OpenFunction/OpenFunction/pull/176

[2021-12-11 10:35] #174 closed

[2021-12-13 01:59] wenchajun commented on #173
Ok, I'll finish it.

[2021-12-15 14:58] lizzzcai opened #178 "Build from private repo is not working"
**Description**
Can not build a function from private repo.

**Environmental**
Tell us what your cluster environment is like, e.g.

- Operating System Information
- kubernetes version: 1.21.5
- OpenFunction version: v0.4.0
- Versions of dependent components (e.g. dapr, keda, shipwright, knative)
Shipwright: v0.6.0

**Expected behavior**
User should be able to create a function from a private repo

[2021-12-15 15:04] benjaminhuo commented on #178
@wanjunlei would you help to test if ShipWright v0.7.0 fix this issue？
@lizzzcai We're working on a cli installation tool called `ofn`, and you can deploy openfunction with the dependent component version as you wish, it'll be available soon.

[2021-12-17 03:52] tpiperatgod commented on #173
I would prefer to add a new property to `spec.serving` in function cr to support this feature, as it is a feature of the serving phase.

At the same time, we may also need to consider the design of the annotation section to provide the ability to support new features in an annotated form in the future.

[2021-12-17 05:59] wenchajun commented on #173
I have written a proposal, please see https://hackmd.io/A-r2frbVTpiDhpfNc7ac2w. We can discuss and complete it.

[2021-12-22 05:54] benjaminhuo commented on #165
https://github.com/OpenFunction/OpenFunction/pull/181 address this issue by adding labels/annotations to pod metadata.
We also consider adding a unified param to control the concurrency of different runtimes later.

[2021-12-22 05:55] benjaminhuo commented on #169
Close this with @wanjunlei's PR https://github.com/OpenFunction/OpenFunction/pull/181

[2021-12-22 05:55] #169 closed

[2021-12-22 06:09] #161 closed

[2021-12-24 05:46] #172 closed

[2021-12-24 05:54] benjaminhuo opened #184 "Refactoring OpenFuncAsync runtime definition"
**Description**
Currently, the OpenFuncAsync runtime is defined as below:
[code]
There are a few problems here:
- The `inputs` and `outputs` is function level fields and doesn't belong to ` dapr`
- The `dapr` part is actually function binding definitions, it's better to make it clear
- The `keda` part is actually function scale Options, and it's better to make it clear as well.

So maybe we can ma

[2021-12-24 06:09] tpiperatgod commented on #184
The logic of the CRD( and the controller) part is associated with the processing of the function-framework part through the OpenFunction Context.

The two parts can be considered decoupled unless the contextual structure changes.

[2021-12-24 06:22] tpiperatgod commented on #184
What do you think @wanjunlei @tpiperatgod ？

I agree with adding `scaleOptions`, which would solve the problem in #173. I have suggested follows in the proposal https://hackmd.io/A-r2frbVTpiDhpfNc7ac2w:

the property can be `spec.serving.scaleOptions`

For `bindings`, since we also support pubsub type input and output sources, I'd like to know if `spec.serving.bindings` refers to both bindings and

[2021-12-24 06:33] benjaminhuo commented on #184
OK, you mean the scaleOptions could be applied to both the sync and async runtime
[code]
And yes `spec.serving.bindings` refers to both  dapr `bindings` and dapr `pubsub`
The dapr `binding` docs said "Using bindings, you can trigger your app with events coming in from external systems, or interface with external systems", so dapr `bindings` and dapr `pubsub` are used for the same purpose in OpenFu

[2021-12-24 06:45] tpiperatgod commented on #184
it can also be:

[code]

[2021-12-24 06:52] benjaminhuo commented on #184
A function can only use one runtime, so setting min/maxReplicaCount just once is ok

[2021-12-24 07:23] benjaminhuo commented on #184
So the CRD looks like below now:
[code]

[2021-12-25 03:49] benjaminhuo opened #185 "Add bindings to knative sync functions"
**Description**
Currently, OpenFuncAsync functions can not be triggered by HTTP, we need to add HTTP trigger for Async functions.

The idea is:
1. Use Knative sync functions to receive an event in plain JSON or CloudEvent format
2. Send the received event to a dapr output binding or pubsub component, most likely a MQ such as Kafka or NATS
3. Trigger an async function from the MQ

So we need to add

[2021-12-31 03:01] FeynmanZhou opened #193 "Is the deploy.sh still valid?"
As `ofn` CLI has been officially recommended by the OpenFunction community and old install/uninstall scripts deprecation was mentioned in v0.5.0 release notes, is the [deploy.sh](https://github.com/OpenFunction/OpenFunction/blob/main/hack/deploy.sh)  and [delete.sh](https://github.com/OpenFunction/OpenFunction/blob/main/hack/delete.sh) still valid for the old version of OpenFunction?

[2021-12-31 03:04] benjaminhuo commented on #193
It's still valid but not recommended anymore.
It's not removed because CI is still using these.
@tpiperatgod Do we have a plan to replace deploy.sh/deleted.sh with ofn in CI? You mentioned we need changes to ofn?

[2021-12-31 03:11] tpiperatgod commented on #193
To do that, we need an external environment to execute the GitHub action.

[2021-12-31 03:37] FeynmanZhou commented on #193
As I know, SIG-DevOps KubeSphere is using Tekton in [ks-devops ](https://github.com/kubesphere/ks-devops)CI with GitHub action. @tpiperatgod You can ask @Linuxsuren @johnniang for details.

[2021-12-31 07:12] arugal commented on #193
It looks like just need to add a `action.yaml` file to the https://github.com/OpenFunction/cli and use `ofn` like this:
[code]

[2021-12-31 09:50] tpiperatgod commented on #193
yes, but it failed during installation and we think it may be a lack of sufficient resources..

[2021-12-31 09:56] benjaminhuo commented on #193
Regarding the limited resource issue, @wanjunlei handle it this way in the script approach: https://github.com/OpenFunction/OpenFunction/blob/main/.github/workflows/main.yaml#L81

[2022-01-02 10:51] #168 closed

[2022-01-02 11:09] benjaminhuo opened #196 "Use K8s Gateway API as function's API Gateway"
**Description**
K8s gateway API is the next generation of ingress.
It provides some advanced features like [HTTP traffic splitting](https://gateway-api.sigs.k8s.io/v1alpha2/guides/traffic-splitting/), [Cross-Namespace routing](https://gateway-api.sigs.k8s.io/v1alpha2/guides/multiple-ns/), etc. which is powerful and valuable for FaaS as well to be the function's API Gateway.

More info can be found

[2022-01-04 02:05] wanjunlei commented on #196
Ok, I will test it.

[2022-01-05 08:14] tpiperatgod opened #198 "Replace the sink.ref in events api with function ingress"
**Description**
Since we already have the Function Ingress, we can use it instead of `sink.ref` in the events API.

**Additional context**
If not, we would have to configure the Knative Serving network layer (e.g. kourier)
Using the Function Ingress can help us shield the underlying complex implementation for the user.

[2022-01-05 08:28] benjaminhuo commented on #198
What does sink.ref looks like now?

[2022-01-05 08:33] tpiperatgod commented on #198
like this:
[code]

[2022-01-05 08:41] benjaminhuo commented on #198
The sink could be function, not knative service
It's more user friendly to user maybe

[2022-01-06 06:30] tpiperatgod opened #199 "Controller failed because dependent CRD was not found "if kind is a CRD, it should be installed before calling Start""
**Description**
Controller failed because dependent CRD was not found "if kind is a CRD, it should be installed before calling Start"

**Environmental**

- Operating System Information, wsl2 archlinux
- kubernetes version, k3s v1.23+
- OpenFunction version, v0.5.0
- Versions of dependent components (e.g. dapr, keda, shipwright, knative)

**Expected behavior**
The OpenFunction controller will look

[2022-01-06 09:05] FeynmanZhou opened #200 "Request to support compiling and installing OpenFunction (CLI) on ARM64"
**Description**
A clear and concise description of what the feature is.

Support compiling and installing OpenFunction (CLI) on ARM64

**Additional context**

Add any other context or screenshots about the feature request here.

@lucj compiled for darwin arm64 from the source and got the following error when Luc tried to install the framework and all its dependencies on Mac M1.

[code]

We open th

[2022-01-06 11:37] tpiperatgod commented on #198
The solutions are as follows:

[code]

`Reference` provides references to Knative Service and Function resources from which to retrieve function URLs
`Uri` is used to pass the URL directly

When using the `Sink`, you must use one of these attributes, and in priority `Uri` > `Reference`

Another approach is to deprecate the reference to the Knative Service and use only the Function:

[code]

[2022-01-06 12:08] arugal commented on #198
Hi @tpiperatgod @benjaminhuo I'd like to try :)

[2022-01-06 12:11] benjaminhuo commented on #198
@arugal That's great!

[2022-01-06 12:18] benjaminhuo commented on #198
Sounds good!

[2022-01-06 12:25] tpiperatgod commented on #198
I prefer the first solution because it might be a bit more generic :thinking: what do you think?

[2022-01-06 13:43] arugal commented on #198
@tpiperatgod Is this?

[2022-01-06 13:44] tpiperatgod commented on #198
yes

[2022-01-06 14:01] benjaminhuo commented on #198
The first one looks ok

[2022-01-08 15:22] benjaminhuo opened #204 "Support building function images from Dockerfile"
**Description**
We can extract the application template from the builders and make it a base image, from which we can build function images with a dockerfile and then copy the built binary to the run image.

**Additional context**
This is a complimentary build approach for the buildpacks approach

[2022-01-09 07:40] benjaminhuo commented on #146
The tracing feature needs changes in two separate locations:
- 1. The main repo as described in [the tracing proposal](https://github.com/OpenFunction/OpenFunction/blob/main/docs/proposals/202112_support_function_tracing.md)
- 2. The skywalking plugin as described in [function framework refactoring](https://github.com/OpenFunction/OpenFunction/blob/main/docs/proposals/202112_functions_framework_re

[2022-01-09 08:08] arugal commented on #146
@benjaminhuo I'm interested in the first item.

[2022-01-09 08:11] benjaminhuo commented on #146
That's great!

[2022-01-09 11:58] arugal commented on #198
https://github.com/OpenFunction/OpenFunction/blob/main/controllers/events/event.go#L177

When the `URI` is set, use `ts-%s ts-{resourceName}` as the component name template, what do you think? @tpiperatgod @benjaminhuo

[2022-01-09 12:13] tpiperatgod commented on #198
I think it's ok.

[2022-01-09 13:03] benjaminhuo commented on #198
The component's namespace could also be the same as the EventSource(resource)

[2022-01-10 04:54] FeynmanZhou opened #209 "Add a GitHub Bot to manage the GitHub issue & PR automatically"
Hi team,

I propose to add a GitHub Bot to manage the GitHub issue & PR automatically. I assume we can leverage the ks-ci-bot from [KubeSphere test-infra](https://github.com/kubesphere/test-infra).

[2022-01-10 05:57] benjaminhuo opened #210 "Add URL to function status"
**Description**
Now we've function ingress support, and we can add an URL field to the function status now just like Knative service does

@tpiperatgod @wanjunlei @arugal

[2022-01-10 06:28] #198 closed

[2022-01-10 06:58] benjaminhuo commented on #210
![image](https://user-images.githubusercontent.com/18525465/148728157-58673610-5227-4879-991c-f4cb13a39443.png)

![image](https://user-images.githubusercontent.com/18525465/148728183-2238b8ee-76ad-49f4-b0dd-fd4e2274c248.png)

[2022-01-11 10:10] FeynmanZhou opened #214 "Replace the architecture diagram with the new design"
Hi team,

Our designer @XiaohuiSept helped us to design a new architecture diagram, how do you think of this new design? If you agree, we will replace the architecture diagram with the new design.

![image](https://user-images.githubusercontent.com/40452856/148922488-dc258a01-96a5-4b16-b380-3ca844184f50.png)

[2022-01-11 10:13] benjaminhuo commented on #214
Look good to me!

[2022-01-11 10:18] benjaminhuo commented on #214
The sequence of the Events parts could be adjusted to
[code]

[2022-01-11 10:21] FeynmanZhou commented on #214
Np

[2022-01-13 10:17] lizzzcai commented on #204
Building from dockerfile is a nice feature and it can provide more flexibility to users.

The current build from source is not so optimized. I tried to build the same `hello world` program, one is `from source` and another is `from dockerfile`. For image built from dockerfile, the image size is about 1.9MB. For image built from source, the size is about 260MB. Hopefully, it can be optimized in the

[2022-01-13 10:35] benjaminhuo commented on #204
@lizzzcai Thanks for the suggestion!
I think there're two problems here:
1. Optimize the image created by cloud native buildpacks approach to reduce image size
2. A method to preload the run image to nodes to reduce the cold start time

You're welcomed to create an issue for this!

[2022-01-13 13:08] benjaminhuo commented on #210
We already have this added in v0.5.0, close this for now

[2022-01-13 13:08] #210 closed

[2022-01-14 11:13] lizzzcai opened #217 "Request feature to preload the run image to nodes to reduce the cold start time"
**Description**

I would like to check if OpenFunction can support customized run images and cache the run images in the host. The target here is to reduce the image size so that can reduce the cool start time.

### Use case
for machine learning use cases, there are usually a lot of dependencies like tensorflow, pytorch, opencv etc. The size of these kinds of libraries are quite big (up to 1-2 GB

[2022-01-14 11:25] lizzzcai opened #218 "Optimize the image created by cloud-native buildpacks approach to reduce image size"
**Description**

The current build from the source is not so optimized. I tried to build the hello world program from samples,
1.  [from source](https://github.com/OpenFunction/samples/blob/release-0.5/functions/Knative/hello-world-go/function-sample.yaml)
2. [from dockerfile](https://github.com/OpenFunction/samples/blob/release-0.5/apps/buildah/function-buildah.yaml)

For image built from dockerf

[2022-01-14 11:34] lizzzcai opened #219 "Function failed to build after renaming the used secret"
**Description**
Function failed to build after renaming or deleting the secret used previously

**Environmental**
Tell us what your cluster environment is like, e.g.

- Operating System Information
- kubernetes version: 1.21.5
- OpenFunction version: latest
- Versions of dependent components (e.g. dapr, keda, shipwright, knative)
  - Shipwright: v0.6.0

**Expected behavior**
The Function should be

[2022-01-16 04:20] benjaminhuo commented on #218
We're optimizing the image size of the buildpacks approach to use a more light-weighted base run image such as distroless https://github.com/OpenFunction/builder/pull/29, the helloworld sample image could be reduced to 21mb

[2022-01-16 04:23] benjaminhuo commented on #217
That's a good suggestion, we'll see what we can do

[2022-01-17 03:15] benjaminhuo commented on #219
Thanks for finding this problem and provide a PR!

[2022-01-17 03:15] #219 closed

[2022-01-17 06:16] tpiperatgod commented on #185
I have made some adjustments to `spec.serving.scaleOptions` and `spec.serving.runtime`:
[code]

[2022-01-17 06:16] benjaminhuo commented on #184
We'd better investigate scale options of knative, keda, and keda-http to make the scaleoptions more common:
- knative https: //knative.dev/docs/serving/autoscaling/
- keda: https://keda.sh/docs/2.5/concepts/scaling-deployments/
             https://keda.sh/docs/2.5/concepts/scaling-jobs/
- keda-http: https://github.com/kedacore/http-add-on/blob/main/examples/v0.2.0/httpscaledobject.yaml

And we ne

[2022-01-17 06:19] tpiperatgod commented on #184
I have made some adjustments to `spec.serving.scaleOptions` and `spec.serving.runtime`:
[code]

[2022-01-17 07:09] benjaminhuo commented on #184
Looks better now!
And maybe we can add dapr state store to store state between functions as well.

[2022-01-17 07:23] tpiperatgod commented on #184
Should we use a structure in `spec.serving.scaleOptions.knative` corresponding to the Knative serving [autoscaling](https://knative.dev/docs/serving/autoscaling/) property or a generic map to hold the relevant parameters?

[2022-01-17 07:28] benjaminhuo commented on #184
Knative's autoscaling options are put into annotations which is map I think

[2022-01-17 07:36] tpiperatgod commented on #184
https://github.com/knative/serving-operator/blob/master/pkg/apis/serving/v1alpha1/knativeserving_types.go#L99

Looks better to just use map

[2022-01-17 07:53] tpiperatgod commented on #184
And should we integrate `spec.serving.pubsub` and `spec.serving.bindings` to `spec.serving.components`?

[2022-01-17 08:14] sunnywa opened #221 "Function compilation sources add object storage, etc."
**Description**
Can openfunction add a feature ？
1、Get the source code from  the object store or some store url for compilation.
2、Get binary files from object storage for image building.

**Additional context**
![image](https://user-images.githubusercontent.com/12031395/149731350-e60f0b85-7728-4c53-bf98-80c6ac9f0eb0.png)

[2022-01-17 08:22] benjaminhuo commented on #221
Thanks for the proposal, we'll see what we can do!
Using oss instead of git is for what reasons? both needs network accessibility I think?
Regarding the 2nd point, you mean the source code is already compiled into binaries and put into oss. You need the build process to fetch it and compile it into an image?

[2022-01-17 08:23] sunnywa commented on #221
您的邮件我已收到。——王琦

[2022-01-17 10:17] FeynmanZhou commented on #221
It looks like Binary to Image and Source to Image in KubeSphere. Does it have strong relevance to OpenFunction?

[2022-01-18 08:52] benjaminhuo commented on #214
We need a SVG format image @FeynmanZhou

[2022-01-18 09:46] sunnywa commented on #221
We are designing a faas platform based on openfunction。Our platform includes webide, vscode plugin, client-side cli, faas management platform and openfunction, etc.

One of the scenarios is as follows, where the user has a local code development environment and no docker environment. Also their git and openfunction are in two network environments .

![image](https://user-images.githubusercontent.c

[2022-01-18 10:08] #221 closed

[2022-01-19 10:23] yedamao opened #223 "ofn install panic"
**Description**
```ofn install --all``` will panic when waiting for the installation to complete
**Environmental**

- Operating System Information
- kubernetes version
- OpenFunction version
- Versions of dependent components (e.g. dapr, keda, shipwright, knative)
[code]

**Expected behavior**
installed successfully

**Actual behavior**

**To Reproduce**

**Screenshots**
![image](https://user-imag

[2022-01-19 10:30] tpiperatgod commented on #223
Can you give me information about the OS on which your cluster is based?

like:

linux amd64, ubuntu 18.04 etc.

[2022-01-19 10:44] benjaminhuo commented on #223
Looks like is caused by`negative waitgroup counter` @tpiperatgod

[2022-01-19 12:50] tpiperatgod commented on #223
Yes, I think I know what the problem is

[2022-01-20 07:09] tpiperatgod commented on #223
Hi @yedamao , I've fixed this issue and new release will coming soon.

You can use the attached `ofn` or wait for the latest version to be released. And if it still does not work, please feel free to submit any information. 🙂

[ofn_linux_amd64.tar.gz](https://github.com/OpenFunction/OpenFunction/files/7902955/ofn_linux_amd64.tar.gz)

[2022-01-20 07:14] yedamao commented on #223
@tpiperatgod  Thank you! I have installed all components successfully.

[2022-01-21 02:08] tpiperatgod opened #224 "Add ScaleOptionTemplate and ComponentTemplate"

[2022-01-25 14:03] #223 closed

[2022-01-30 07:31] benjaminhuo commented on #184
The new proposal can be found [here](https://hackmd.io/FW4WAM6CSmuZt6zrpsqWXA?view)

[2022-02-07 03:30] #199 closed

[2022-02-10 06:36] wanjunlei opened #230 "OpenFunction Dapr elastic Apps"
**Proposal**

- Goals
OpenFunction Dapr elastic Apps runtime used to run the native dapr app, and autoscale using keda.

- Example

A function using Dapr elastic Apps runtime may be like this.

[code]

It should not set the build of function when using dapr elastic apps runtime. The user needs to provide an image of the dapr app.

The user controls the dapr sidecar through annotation, and the anno

[2022-02-10 06:43] benjaminhuo commented on #230
We might need a better runtime name other than just `Dapr`
@tpiperatgod @wanjunlei , any thoughts?

[2022-02-10 07:00] #146 closed

[2022-02-10 07:59] aBreaking opened #231 "Can add a proxy to the ofn command ?"
I have configured a local 1080 proxy, but I still cannot install it successfully
[code]

Or my proxy configuration is wrong? my proxy configuration :

[code]

[2022-02-10 08:23] tpiperatgod commented on #231
It seems that the proxy is working, but it is not accessible?

[2022-02-10 08:31] aBreaking commented on #231
@tpiperatgod my fault.  by tracing network proxy .  I suddenly realized that i have configuration proxy, but forgot configuration no_proxy.  so add `export no_proxy="192.168.."` . it`s working , thx

[2022-02-10 08:32] #231 closed

[2022-02-10 11:26] #184 closed

[2022-02-14 02:25] benjaminhuo commented on #230
A few comments:

- User could still utilize the build mechanism to build apps by providing an application-specific buildpack builder or a dockerfile

- Maybe the default app-id could be `<namespace>\<function-name>`  other than ""

[2022-02-14 02:30] tpiperatgod commented on #230
I think what @wanjunlei  means is that the field "dapr.io/app-id" will be injected automatically. It should remain the same as it is now, i.e. the `<namespace>\<function-name>` style

[2022-02-17 09:10] #185 closed

[2022-02-17 09:11] #173 closed

[2022-03-07 13:24] tpiperatgod opened #242 "Add global configuration for OpenFunction"
**Description**
We need to add a global configuration for OpenFunction's controller-manager, such as the plugin configuration, the configuration of other components, and so on.

We can use the configMap resource to implement this feature.

**Additional context**
example:

[code]

[2022-03-07 22:25] yaron2 commented on #230
Hey everyone, Dapr maintainer here. Excited to see the work ya'll are doing with Dapr in this project. We're here to support you! Please let us know if you'd like to come on a Dapr community call to share what you're doing.

[2022-03-08 01:16] benjaminhuo commented on #230
@yaron2 Thanks for the invitation! And yes we're excited to share with Dapr community the important role Dapr plays in OpenFunction.

[2022-03-08 01:18] benjaminhuo commented on #230
@yaron2 Thanks for the invitation! And yes we're excited to share with Dapr community the important role Dapr plays in OpenFunction.

[2022-03-08 01:27] yaron2 commented on #230
Great :)

Would this time slot work for you? https://github.com/dapr/community/issues/143.

If so, please comment on the issue with a short description about what you're going to show and how much time you need (max 20 minutes).

[2022-03-08 04:47] benjaminhuo commented on #230
Yep, Mar 22nd is ok for us. I'll add a short description to the issue.

Thanks

[2022-03-17 02:24] #242 closed

[2022-03-17 02:31] tpiperatgod commented on #217
We can use the `ImagePullJob` in OpenKruise for this goal: https://openkruise.io/zh/docs/user-manuals/imagepulljob

[2022-03-17 08:03] benjaminhuo commented on #217
Looks good,  do we need to install the entire openkruise stuff just for downloading image?

[2022-03-18 11:17] hurricane1988 opened #250 "can't connect the docker-registry when use http"
We use the private docker registry and already config the "insecure-registries" of /etc/docker/daemon.json. But it will connect docker registry with https, any help please?

[2022-03-20 06:49] #164 closed

[2022-03-20 08:02] cheyuexian commented on #139
use v0.6.0
after kubectl create -f bundle.yaml. still get errors

#  kubectl create  -f bundle.yaml
namespace/openfunction created
customresourcedefinition.apiextensions.k8s.io/builders.core.openfunction.io created
customresourcedefinition.apiextensions.k8s.io/clustereventbus.events.openfunction.io created
customresourcedefinition.apiextensions.k8s.io/domains.core.openfunction.io created
customres

[2022-03-20 13:06] tpiperatgod commented on #217
The `ImagePullJob` requires at least OpenKruise [Daemon](https://openkruise.io/zh/docs/core-concepts/architecture#daemon) to be installed.

I think we can also use OpenKruise to control the sidecar in depth.

[2022-03-21 05:02] #214 closed

[2022-03-21 10:28] hurricane1988 opened #249 "Could not build the image and pushed to private harbor when harbor is http"
**Description**
A clear and concise description of what the bug is.
Could not build the image and pushed to private harbor when harbor is http
**Environmental**
Tell us what your cluster environment is like, e.g.

![image](https://user-images.githubusercontent.com/16606960/159243223-62e6f97b-47c6-42d9-8fa5-e3fc30a58e4d.png)
![image](https://user-images.githubusercontent.com/16606960/159243356-73c5

[2022-03-21 14:31] benjaminhuo commented on #250
@hurricane1988 Any contribution is welcomed! Are u in our wechat group?

![image](https://user-images.githubusercontent.com/18525465/159283269-fee2bdcc-bcaa-43bb-92a2-ff0ebf004895.png)

[2022-03-22 05:31] hetaoguilai opened #252 "是否考虑可以集成到kubesphere中？"

[2022-03-22 05:36] benjaminhuo commented on #252
Yeah, we've plan to integrate OpenFunction into KubeSphere, possibly in KubeSphere v4.0

[2022-03-22 09:13] lizzzcai commented on #217
Thanks for the update.

https://openkruise.io/zh/docs/user-manuals/imagepulljob can help to preload the image into the nodes, although this project seems a bit heavy if we just install it for this preloading feature only. This is like the next step for this feature.

Here I am more like finding a way to have a custom base image for my function (build from source). My function will be built on top

[2022-03-22 09:15] lizzzcai commented on #224
is there any plan for this? for easily reuse the component resources from keda and dapr.

[2022-03-22 12:50] benjaminhuo commented on #224
Maybe in v7.0

[2022-03-23 05:00] lizzzcai opened #253 "[Feature request] Support Function Template"
**Description**

To support 'FunctionTemplate/Function' or `Function/FunctionRun`  in OpenFunction, so that user can reuse their Function with different parameters.

Similar concepts:
	1. Argo WorkflowTemplate/Workflow: https://argoproj.github.io/argo-workflows/workflow-templates/#working-with-parameters
	2. Tekton Task/TaskRun: https://tekton.dev/docs/pipelines/taskruns/#taskruns

Here I take 'Fu

[2022-03-23 06:21] tpiperatgod commented on #253
I like this design.

In `FunctionTemplate` we don't have to follow the same spec as in the `Function` so that we can refine more abstract properties, which will be better for users to understand.

[2022-03-23 07:01] tpiperatgod opened #254 "Let functions be triggered by GitHub events"
**Proposal**

- Motivation

  GitHub is a mainstream code repository, and many developers choose to push their project on GitHub. To meet the needs of the CI\CD of the users, GitHub provides [Webhooks and events](https://docs.github.com/en/developers/webhooks-and-events).

  OpenFunction's event framework is dedicated to improving OpenFunction's event responsiveness, so I thought it would be usefu

[2022-03-23 07:23] lizzzcai commented on #253
Thanks @tpiperatgod. Can you provide some examples of the expected `spec`? maybe for both sync and async use cases.

BTW currently openfunction seems like dont have `job` concept. For example a job to process a file. In this case, having a file path as a parameter will be convenient to reuse the function template.

And giving the example from the serverlessWorkflow [here](https://github.com/server

[2022-03-23 07:57] tpiperatgod commented on #253
What I mentioned is just an idea ...🥲  But I will try to design it based on your suggestion and maybe give a preliminary example in the next few days.

[2022-03-23 08:11] lizzzcai commented on #254
Hi @tpiperatgod , this is something I am looking for as well, I check with Shipwright team yesterday https://github.com/shipwright-io/build/issues/1017 and actually they are trying to support it. You can check this: https://github.com/shipwright-io/community/pull/68

[2022-03-23 08:28] benjaminhuo commented on #254
@wanjunlei can keep an eye on shipwright's plan like [shipwright-io/community#68](https://github.com/shipwright-io/community/pull/68)

[2022-03-23 08:33] benjaminhuo commented on #254
argo events is one option,
Can we add some event source to OpenFunction's own events instead of using argo events?

[2022-03-24 02:55] xonze opened #255 "How to track with skywalking in dapr"
**Description**
I tested the skywalking plug-in in function for tracking, but I can't trace the requests in dapr, which is a pity

[2022-03-24 05:57] tpiperatgod commented on #255
Hi @xonze , I think this [PR](https://github.com/OpenFunction/functions-framework-go/pull/45) will solve your problem and I will add a tracing sample soon. The latest version of functions-framework-go is `v0.2.2`.

[2022-03-24 15:21] lizzzcai opened #257 "[Feature] Support init container in OpenFunction"
**Description**
To support init containers in `Function`.

Use cases:
1. in AI use cases, init container can help to download models
2. inject secret from remote https://github.com/knative/serving/issues/4307#issuecomment-777115722

[2022-03-25 01:17] tpiperatgod commented on #255
Hi @xonze here is the tracing sample: https://github.com/OpenFunction/samples/blob/main/functions/tracing/README.md

pls let me know if it can solve your problem, thx.

[2022-03-26 18:52] xonze commented on #255
nice

[2022-03-26 18:52] #255 closed

[2022-03-28 04:02] tpiperatgod commented on #249
A workaround here is to replace the hostname in the repository address with the IP address.

Also, you should [skip tag-resolution](https://knative.dev/docs/serving/configuration/deployment/#skipping-tag-resolution) when you run the Knative-runtime function.

`192.168.0.3` in the following example is the address of the private repository:
[code]

For reference:
https://github.com/buildpacks/lifecy

[2022-03-28 04:03] tpiperatgod commented on #249
Hi @hurricane1988 please let me know if this helps you, thx!

[2022-03-28 05:31] benjaminhuo commented on #249
Great! We can add this to a FAQ doc maybe @tpiperatgod

[2022-03-28 12:50] lizzzcai commented on #257
Init containers and PVC are supported in Knative v1.2 [features](https://github.com/knative/serving/blob/release-1.2/config/core/configmaps/features.yaml#L148-L161). But still in [Alpha](https://github.com/knative/serving/issues/12438), and to use knative v1.2, kubernetes must be v1.21+. (is openfunction supporting knative v1.2 and kubernetes v1.21+?) Otherwise probably need to use webhook to inje

[2022-03-29 05:02] benjaminhuo commented on #257
With the new ofn cli, it is possible to decouple OpenFunction with its dependencies like knative.
So what we need to do is to test the compatibility of OpenFunction with Knative v1.2.

@tpiperatgod Am I correct?

[2022-03-29 05:02] #252 closed

[2022-03-29 05:17] benjaminhuo commented on #250
duplicated with https://github.com/OpenFunction/OpenFunction/issues/249

[2022-03-29 05:17] #250 closed

[2022-03-29 05:19] benjaminhuo commented on #253
Duplicated with https://github.com/OpenFunction/OpenFunction/issues/224 ?

[2022-03-29 05:29] benjaminhuo opened #260 "Compatibility with the latest version of all dependencies"
**Description**
Knative, Tekton, Shipwright, Dapr, KEDA all released new versions, we need to check the compatibility of OpenFunction with these.
And possibly need to add or update the compatibility matrix.

**Additional context**
- [ ] [Knative Eventing v1.3.0](https://github.com/knative/serving/releases/tag/knative-v1.3.0)
- [ ] [Tekton pipeline v0.34.1](https://github.com/tektoncd/pipeline/rele

[2022-03-29 05:31] benjaminhuo commented on #260
Dapr and Keda => @tpiperatgod
Knative Serving => @benjaminhuo
Tekton & Shipwright => @wanjunlei

[2022-03-29 05:35] lizzzcai commented on #253
#224 is about reusing the components from keda and dapr. Here is to reuse the functionTemplate which include the keda/dapr components and other parameters.

[2022-04-08 07:08] tpiperatgod commented on #253
Here is a preliminary proposal: https://hackmd.io/@xcEqMy2IQx-DQu_nUuPNXw/rJiu6IpQ5

[2022-04-08 07:12] tpiperatgod commented on #257
Yes, it is currently possible to install a specific version of the component through ofn. Pls refer to this: https://github.com/OpenFunction/cli/blob/main/docs/install.md#customize-component-version

[2022-04-12 04:03] lizzzcai commented on #253
Hi @tpiperatgod , thanks for the proposal! I have looked through it. Some of the concepts inside are good like parameterize the value and template of the binding, trigger etc, and you also defined what components can be updated. But I think we can have some discussion on it to align with the usecase. Below is my feedback.

The FunctionTemplate in this issue is a Template of a use case, for example

[2022-04-13 01:51] tpiperatgod commented on #260
I have tested OpenFunction with Dapr 1.6.1 and KEDA v2.6.1 and it passed.

Please note that in Dapr 1.6.1, you may need to make some adjustments to the Components to achieve the effect in 1.6.1- scenarios. For example, when using `pubsub.kafka`, you may need to set the `disableTls` property to `true` to access a Kafka cluster without TLS enabled, which is absent in the 1.6.1- scenarios.

[2022-04-13 02:45] g-chang opened #267 "Using EventBus to build EventSource according to the official documentation causes openfunction-controller-manager to exit with an exception."
**Description**
https://openfunction.dev/docs/user-guide/use-events/use-event-bus-and-trigger/#create-an-eventbus-and-an-eventsource
Using EventBus to build EventSource according to the official documentation causes openfunction-controller-manager to exit with an exception.

**Environmental**
+------------------+---------+
| COMPONENT        | VERSION |
+------------------+---------+
| OpenFunctio

[2022-04-13 03:32] tpiperatgod commented on #267
The original processing logic here is as follows:

`spec.sink` supports data in the form of `uri` and `ref`, where `uri` is the accessible HTTP address and `ref` represents a reference to a Knative Service or OpenFunction Function resource to get the HTTP access address of those resources.

Regardless of which method is used, we have to update the HTTP address generated to the `spec.sink.uri` at t

[2022-04-18 15:46] raravena80 opened #270 "CNCF TAG-Runtime Discussion/Presentation"
**Proposal**

Hello OpenFunction team,

I'm one of the co-chairs of the CNCF TAG-Runtime. I'm reaching out and I think it would be great for you to present/discuss the project at one of our meetings. For example, a general overview of the project or/and a demo.

Feel free to add it to our [agenda](https://bit.ly/cncf-tag-runtime-meeting-notes) or reach out to me (raravena80 at gmail.com)

Thanks!

[2022-04-18 15:59] benjaminhuo commented on #270
Thanks for the invitation @raravena80!
I think April 21st is ok for us and I'll put it on the agenda.

Thanks
Ben

[2022-04-18 16:00] raravena80 commented on #270
Thank you!

[2022-04-21 02:26] tpiperatgod opened #271 "Installing OpenFunction and its dependencies with Helm"
## Motivation

OpenFunction implemented a framework for lifecycle management of the basic business unit "function". In this architecture we use Shipwright (and Tekton for the build pipeline), a component for OCI image building from "function" to "application"; Knative, an engine for synchronous functions; KEDA for event-driven mechanism; Dapr for application distributed responsiveness; and Ingress

[2022-04-21 02:32] tpiperatgod commented on #271
## Additional Information

- [Shipwright](https://github.com/shipwright-io/build), no Helm chart yet
- [Tekton Pipeline](https://github.com/tektoncd/pipeline), no Helm chart yet
- [Knative Serving](https://github.com/knative/serving), no Helm chart yet
- [KEDA](https://github.com/kedacore/keda), with Helm chart: https://github.com/kedacore/charts
- [Dapr](https://github.com/dapr/dapr), with Helm c

[2022-04-22 01:24] lizzzcai commented on #257
I have tried out KNative `v1.2`, and it is working fine in ofn `v0.6`. Users need to enable the feature manually: https://knative.dev/v1.2-docs/serving/configuration/feature-flags/#kubernetes-init-containers.

[2022-04-26 08:20] trust-freedom commented on #200
keep following this issue

[2022-04-27 02:49] tpiperatgod opened #274 "Add the parameter validation capabilities for Function."
## Motivation

In OpenFunction, the `Function` CRD is used to manage the lifecycle of functions, dividing the process into the **build phase** and the **serving phase**.

In general, after creating the function, it enters the build phase, waits for the build to complete and produces the OCI image, and then enters the serving phase to create the workload.

The build phase tends to take longer, and

[2022-04-27 02:54] benjaminhuo commented on #274
This is a very good proposal, can we add it to https://github.com/OpenFunction/OpenFunction/tree/main/docs/proposals ?

[2022-04-27 03:06] tpiperatgod commented on #274
Ok, I will submit it after refining

[2022-04-29 02:42] benjaminhuo opened #276 "CNCF Sandbox Project Onboarding"
This is a follow-up of the [CNCF Sandbox Project Onboarding](https://github.com/cncf/toc/issues/829) process

From the project side, please ensure that you:

- [ ] Understand the project proposal process and reqs: https://github.com/cncf/toc/blob/main/process/project_proposals.adoc#introduction @FeynmanZhou
- [ ] Understand the services available for your project at CNCF https://www.cncf.io/servic

[2022-04-30 18:15] ZoeShaw101 opened #278 "Is ofn support on mac ?"
Can OpenFunction running on minikube? And can you deliver a ofn version running on mac? For now it report `zsh: exec format error: ofn` error.
That would be nice for quick use and local test of new users.

<img width="314" alt="截屏2022-05-01 上午2 14 47" src="https://user-images.githubusercontent.com/13792102/166117536-6ada515d-a90d-4168-a68a-8525bcfd24a1.png">

[2022-05-05 07:49] benjaminhuo commented on #276
CLA added by https://github.com/cla-assistant/cla-assistant

[2022-05-05 09:58] tpiperatgod commented on #276
I have sent the maintainer emails list to amye.

[2022-05-05 10:20] fansehep opened #280 "ofn install --all error"
When I use ofn install --all , it reports an error.
![2022-05-05_18-05-1651745854](https://user-images.githubusercontent.com/75058860/166904700-3b1171e1-204d-40c4-bb66-3cb74748c6bd.jpg)

[2022-05-05 10:40] benjaminhuo commented on #280
should be `ofn install --all`.

Transfer this issue to the cli repo

[2022-05-05 10:54] benjaminhuo commented on #276
@Arhell we're in the process of moving this project to CNCF sandbox, would you help make a few changes to the website following CNCF's guideline including:

- Add an announcement like this:
[code]
Just like [Dapr](https://dapr.io/):
![image](https://user-images.githubusercontent.com/18525465/166909031-df88d58b-7b8f-4625-8476-830a3ee5b00f.png)

- Website: ensure LF footer is there and [website guid

[2022-05-05 14:41] benjaminhuo commented on #276
CII best practices badge started https://bestpractices.coreinfrastructure.org/en/projects/6029

[2022-05-05 16:05] FeynmanZhou commented on #276
We are going to ask CNCF to help us create a separate channel in the Kubernetes workspace instead of creating a single workspace, right?

[2022-05-05 21:56] Arhell commented on #276
https://github.com/OpenFunction/website/pull/68

[2022-05-06 06:39] benjaminhuo commented on #276
Not kubernetes, should be cncf like this: https://cloud-native.slack.com/archives/C033DV8D9FB
I'll ask the cncf onboarding staff to create a channel for us

[2022-05-06 13:02] FeynmanZhou commented on #276
Hi @benjaminhuo ,

I have added the sandbox label to OpenFunction in the CNCF landscape, see https://github.com/cncf/landscape/pull/2578.

[2022-05-06 13:07] FeynmanZhou commented on #276
To transfer the website analytics, it requires us to transfer the DNS of the domain name (`openfunction.dev`) and open a ticket in the LF Jira system. I will follow up on it soon.

[2022-05-07 23:45] zylan29 opened #285 "'default-domain' container failed many times in 'knative-serving'"
**Description**
'default-domain' container failed many times in 'knative-serving'.

**Environmental**
Tell us what your cluster environment is like, e.g.

- Operating System Information: ubuntu 20.04 vm
- kubernetes version: v1.21.5
- OpenFunction version
- Versions of dependent components (e.g. dapr, keda, shipwright, knative)

openFunction: 0.6.0
knativeServing: 1.0.1
kourier: 1.0.1
defaultDomai

[2022-05-08 01:54] tpiperatgod commented on #285
Hi @zylan29 , can you pls paste the contents of the ConfigMap `config-network` under the `knative-serving` namespace?

[2022-05-08 03:11] zylan29 commented on #285
Hi @tpiperatgod , thanks for your quick reply. I completely re-installed the whole stack by the following commands. This issue still remains.

[code]

The ConfigMap `config-network` is just `_example` 'EXAMPLE CONFIGURATION', as follows:

[code]

[2022-05-08 06:20] tpiperatgod commented on #285
Hi @zylan29 you can try to change the
[code]
to
[code]

[2022-05-08 07:36] zylan29 commented on #285
@tpiperatgod , I changed the configmap to `ingress-class: kourier.ingress.networking.knative.dev`. But it's not working, should I restart something?

[2022-05-08 11:25] zylan29 commented on #285
Hi @tpiperatgod , after followed as your suggestion, I configured the ConfigMap `config-domain` to specify a domain name, e.g.

[code]

Now the task `default-domain` successfully completed.  Thanks for your help.

But I still cannot access the function by reproducing the go function sample.

[2022-05-08 15:37] tpiperatgod commented on #285
🙂 You can also refer to this: https://github.com/OpenFunction/OpenFunction/blob/main/docs/faq/README.md#q-how-to-access-the-knative-runtime-function-without-introducing-a-new-ingress-controller

[2022-05-09 01:25] zylan29 commented on #285
Hi @tpiperatgod , thanks for the help I got. I have made the following configurations:
1. configure the ConfigMap `config-network` to :
[code]
2. configure  the ConfigMap `config-domain` to:
[code]
3. configure  the ConfigMap `codedns` to:
[code]

10.233.57.212 is the clouster ip obtained from:
[code]

Now, I can successfully reporoduced the `helloworld-go` sample from knative docs.
[code]

But, t

[2022-05-09 01:57] tpiperatgod commented on #285
Can you paste the configuration of the Function? and the logging information for the controller pod (usually in the `openfunction` namespace)？

[2022-05-09 02:07] zylan29 commented on #285
[code]
`harbor.kubeone.local` is my local insecure registry, no secret needed.

The openfunction controller throwed many errors:
[code]

[2022-05-09 02:25] zylan29 commented on #285
I added one line in yml to specify the image for container.
[code]
Now, the function serving is in `starting` state.
[code]

The openfunction controller said:
[code]

The errors in pod `serving-xmpqm-ksvc-dqjj8-v200-deployment-6b5f4db47b-wrwfz` in namespace `default`:
[code]

I think the question becomes How to set this `FUNC_CONTEXT `?

[2022-05-09 02:39] tpiperatgod commented on #285
The `FUNC_CONTEXT` environment variable is only required if the function signature is as follows:

[code]

And the [Sample Function Go](https://github.com/OpenFunction/samples/blob/main/functions/knative/hello-world-go/hello.go#L8) does not need the `FUNC_CONTEXT` environment variable. So I think there might be something wrong with the container image.

I suggest you change the image pull policy t

[2022-05-09 03:29] zylan29 commented on #285
It works.
Thanks @tpiperatgod , your suggestions are realy helpful.
Cheers!

[code]

The finally worked yml is:
[code]
`harbor.kubeone.local` is my local insecure docker registry, and I removed the tag `build:srcRepo:revision`.

I think this issue can be closed, thanks again.

[2022-05-09 03:29] #285 closed

[2022-05-09 07:33] Borghetti2749 commented on #276
No

[2022-05-09 07:39] zylan29 opened #286 "'function' is the only valid spec.serving.template.containers[0].name"
**Description**
After several round tests, I found that 'function' is the only valid `spec.serving.template.containers[0].name`. If changed the name to other values, it will be stuck in `Starting` SERVINGSTATE.

For example, the following yml will fail
[code]

[code]
The serving pod throws errors:
[code]

Simply changing spec.serving.template.containers[0].name from `go-function` back to `function

[2022-05-10 03:11] benjaminhuo commented on #276
@FeynmanZhou, is this done?

[2022-05-10 03:13] benjaminhuo commented on #286
This is a design behavior, @wanjunlei @tpiperatgod am I correct?

[2022-05-10 05:46] tpiperatgod commented on #286
Yes, the user doesn't need to manually set the `spec.serving.template.containers` for the function container.

In general, the function pod of a knative runtime contains two containers: the `function` container and the `queue-proxy` container (and a `daprd` container if an async output is configured for the function).

For this issue, @zylan29 you can just remove the contents of `spec.serving.temp

[2022-05-10 07:15] zylan29 commented on #286
@tpiperatgod OK, When removed `spec.serving.template.containers`, the yaml becomes simple and neat. Maybe we can remove it from the offical default  sample.

[2022-05-10 07:15] #286 closed

[2022-05-10 07:37] tpiperatgod commented on #286
The purpose of using `spec.serving.template` here is to set different `imagePullPolicy` for different branches.

The `imagePullPolicy` will be set to "Always" in the main branch and will be set to "IfNotPresent" in the release branches.

So I think we should keep them for now, but it is indeed necessary to improve the documentation...

[2022-05-10 08:51] wanjunlei commented on #286
`spec.serving.template.containers.name` is `function` indicating that this container is the main container, which will run the image built by the function.

If you want to add a new container, you need to use a different name.

The reason this test failed is that you used a new container to run the image built by the function, but did not provide `FUNC_CONTEXT` env. You can try another image such

[2022-05-10 09:46] binlaniua opened #289 "READY "Unknown""
**Description**
ksvc show READY Unknown

**Environmental**
Tell us what your cluster environment is like, e.g.

- Operating System Information: centos 7.9
- kubernetes version: v1.21.5
- OpenFunction version
- Versions of dependent components (e.g. dapr, keda, shipwright, knative)

openFunction: 0.6.0
knativeServing: 1.0.1
kourier: 1.0.1
defaultDomain: 1.0.1
keda: 2.4.0
dapr: 1.5.1
tektonPipelines

[2022-05-10 10:03] binlaniua commented on #289
my bad,  imagePullPolicy is "Always",  i write "always"

[2022-05-10 10:22] binlaniua commented on #289
fixed

[2022-05-10 10:22] #289 closed

[2022-05-12 08:08] FeynmanZhou commented on #276
Sorry for the late reply.

Not yet, could you please send an email with the `openfunction.dev`'s DNS zone file and transfer code to me (feynman@kubesphere.io)? I will submit a ticket after I get the required information.
![image](https://user-images.githubusercontent.com/40452856/168023020-4129564e-bc2a-466d-a876-3bb0bb202201.png)

[2022-05-13 02:03] benjaminhuo commented on #274
Fixed by https://github.com/OpenFunction/OpenFunction/pull/290

[2022-05-13 02:03] #274 closed

[2022-05-17 14:30] zylan29 opened #294 "Can we parse some parameters in function definition yaml to control the build behaviors?"
Can we parse some parameters in function definition yaml to control the build behaviors?

For example:
A parameter for Python to specify a faster pypi repo: `pip install -I https://<a-faster-pypi-repo>`
A environment variable `GIT_SSL_NO_VERIFY`  for git to ignore https cert verification.

[2022-05-18 01:30] benjaminhuo commented on #294
You can set environment variable like this https://github.com/OpenFunction/samples/blob/main/functions/async/logs-handler-function/logs-handler-function.yaml#L16

[2022-05-18 08:17] wrongerror commented on #271
@benjaminhuo @tpiperatgod
When we create an openfunction release through helm, should the namespace of the dependent component be set to release.Namespace or each component uses a separate namespace, such as dapr using dapr-system, and tekton-pipelines using tekton-piplines.
This creates a problem if different components use different namespaces: managing a single release across multiple namespace

[2022-05-18 08:25] benjaminhuo commented on #271
Each component should be installed to their own ns

[2022-05-18 08:37] wrongerror commented on #271
That for the components that already have helm chart we need to pull the component charts to openfunction/charts and then modify them, dapr helm chart has multiple versions, we only modify the latest version to support it?

[2022-05-18 08:51] benjaminhuo commented on #271
why we need to modify each component's chart? I think just keep it as it is is ok

[2022-05-18 08:51] zylan29 commented on #294
Hi @benjaminhuo , Thanks,  I found some useful info in `https://github.com/OpenFunction/gcp-builder/blob/main/README.md`, cheers.

[2022-05-18 08:51] #294 closed

[2022-05-18 08:57] wrongerror commented on #271
https://github.com/helm/helm/issues/5358 This issue is similar with I mentioned above

[2022-05-19 07:36] tpiperatgod commented on #162
Here is the proposal: https://hackmd.io/BdXZXdYGRASDMWEysx5doA?view, feel free to help review and discuss implementation solutions.

[2022-05-20 06:32] benjaminhuo commented on #276
I'll send these info to you soon

[2022-05-22 13:45] wrongerror commented on #271
Is cert-manger still required as a dependency in release 0.6.0? I don't see it in the proposal's dependency list, but I see the relevant configuration in bundle.yaml.

[2022-05-22 13:53] tpiperatgod commented on #271
Yes, cert-manager is required for v0.6.0 while for later versions it is the component that is not wanted.

[2022-05-23 01:39] FeynmanZhou opened #296 "To pass the OpenSSF Best Practice"
The OpenFunction Project scored only 21% in the [OpenSSF Best Practice testing](https://bestpractices.coreinfrastructure.org/en/projects/6029). To ensure OpenFunction is secure enough for adopters, we have to pass the OpenSSF Best Practice CII checking critera and get a [Passing badge](https://bestpractices.coreinfrastructure.org/en/criteria/0), then embed it into this repository or Website.

[2022-05-23 08:13] benjaminhuo commented on #276
I'll handle this item "Domain: transfer domain to the CNCF https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63 " instead because it requires to fetch some domain-specific stuff from relevant admin website. And also need to create a project in LF:
[code]

I've already opened a ticket to onboard openfunction: https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-24

[2022-05-23 09:02] benjaminhuo commented on #276
Confirming the trademark transfer procedure now https://github.com/cncf/toc/issues/829#issuecomment-1134388578

[2022-05-29 06:26] soma2000-lang commented on #296
@FeynmanZhou Can I work on this issue I am an LFX 22 applicant.

[2022-05-29 06:37] FeynmanZhou commented on #296
@soma2000-lang
This issue is open for any contributors, you are welcome to pick it up! Meanwhile, please note this issue has not been included to the [LFX mentorship](https://mentorship.lfx.linuxfoundation.org/). If you have spare time and interest to work on it, we are willing to help : )

[2022-05-29 06:49] soma2000-lang commented on #296
Sure @FeynmanZhou

[2022-05-29 06:58] benjaminhuo commented on #296
@soma2000-lang, you're welcome to work on this.
You can join our discord  or the cncf slack channel for communication.

Discord: https://discord.gg/hG3yc6uAyC
Slack: Create an account at [#CNCF Slack](https://slack.cncf.io/) and then search #openfunction to join or click [#openfunction](https://cloud-native.slack.com/archives/C03ETDMD3LZ) to join if you already have an [#CNCF Slack](https://slack.

[2022-05-30 03:00] benjaminhuo opened #298 "Upgrade yaml.v2 to yaml.v3 to fix CVE"
**Description**
CVE detected: https://github.com/OpenFunction/OpenFunction/security/dependabot/1
We need to fix this manually by upgrading gopkg.in/yaml.v2 to gopkg.in/yaml.v3

**Additional context**
![Snip20220530_211](https://user-images.githubusercontent.com/18525465/170909303-f8205e5e-3fc7-4f58-8d2c-ddea75c40a48.png)

[2022-05-30 10:13] Aarush-Goyal commented on #298
@benjaminhuo I would like to fix this issue

[2022-05-30 10:14] benjaminhuo commented on #298
Great! @Aarush-Goyal

[2022-05-30 10:32] Aarush-Goyal commented on #298
@benjaminhuo to which branch should I make the pull request to?

[2022-05-30 12:13] #298 closed

[2022-06-02 02:41] benjaminhuo opened #301 "Integration with Serverless Devs"
**Description**
Add OpenFunction as a provider of [Serverless Devs](https://www.serverless-devs.com/)

**Additional context**
Users can use serverless devs tools to deploy OpenFunction functions and to publish OpenFunction functions to serverless registry

[2022-06-02 03:37] benjaminhuo commented on #196
@lizzzcai What you're suggesting is very interesting and we can make it happen.

[2022-06-02 04:15] webup commented on #301
I can take the lead given that my working time confirmed.

[2022-06-02 05:14] benjaminhuo commented on #301
That's great!

[2022-06-02 05:32] benjaminhuo opened #302 "Support Dapr state building block"
**Description**
Currently, OpenFunction only supports Dapr binding and pubsub.
We should add support for the Dapr state building block

**Additional context**
To support Dapr state building block, we need to:
- [ ] Add `state` field to the function CRD and generate relevant context.
- [ ] Add get & set method to each language's functions-framework
- [ ] Add samples
- [ ] Add docs to the `website`

[2022-06-02 05:33] benjaminhuo commented on #302
@wrongerror @tpiperatgod @geffzhang @webup @kehuili @wanjunlei

[2022-06-02 08:41] benjaminhuo opened #303 "Add github/gitlab as OpenFunction Events eventsource"
**Description**
Currently, only 4 async event sources are supported by OpenFunction Events: Redis, Kafka, Cron,  MQTT
We need to add sync event sources like Github/Gitlab

**Additional context**
Argo Events supports GitHub and Gitlab as event sources which is a good reference:
- https://argoproj.github.io/argo-events/eventsources/setup/github/
- https://github.com/argoproj/argo-events/blob/master/

[2022-06-02 19:00] Aarush-Goyal commented on #267
@tpiperatgod I would like to try and fix it

[2022-06-03 00:36] tpiperatgod commented on #267
Great! Please let me know if you need any other information.

[2022-06-09 06:01] benjaminhuo opened #305 "Support Dapr configuration building block"
**Description**
Currently, OpenFunction supports Dapr binding and pubsub building block.
Dapr configuration building block should be supported too.
https://docs.dapr.io/concepts/configuration-concept/

**Additional context**
Dapr configuration building block is necessary for scenarios like tracing.

[2022-06-09 07:22] LinPoLen opened #306 "can't work when do step as provide by openfunction."
**Description**
A clear and concise description of what the bug is.

**Environmental**
Tell us what your cluster environment is like, e.g.

- Operating System Information
- kubernetes version
- OpenFunction version
- Versions of dependent components (e.g. dapr, keda, shipwright, knative)

**Expected behavior**
Tell us what should happen.

in `kubectl run curl --image=radial/busyboxplus:curl -i --t

[2022-06-09 13:17] tpiperatgod commented on #306
@LinPoLen Can you please paste the configuration of the Function and the result of the command `kubectl get function`

[2022-06-10 03:41] LinPoLen commented on #306
`kubectl get function`

[code]

[2022-06-10 04:04] tpiperatgod commented on #306
Hi, @LinPoLen it looks like you don't have the [Function Domain](https://github.com/OpenFunction/OpenFunction/blob/main/docs/concepts/Components.md#domain) installed yet, you can install it by running the `ofn install --ingress nginx` command.

Here's an alternative way to access the function,  pls see [this](https://github.com/OpenFunction/OpenFunction/blob/main/docs/faq/README.md#q-how-to-access

[2022-06-10 05:49] LinPoLen commented on #306
when I do `kubectl -n kourier-system get svc` it response no resources
[code]

[2022-06-10 05:57] tpiperatgod commented on #306
It is likely that there is a problem with the installation of the knative (and the kourier) component. Can you show me how you install the openfunction?

[2022-06-10 07:33] LinPoLen commented on #306
simply install by `ofn install --all`

[2022-06-10 13:16] tpiperatgod commented on #306
I suggest you check the running status of the Knative (and Kourier), such as the service status, the logs of the workload, the contents of the configmap, etc. Feel free to provide any information that confuses you. 🙂

[2022-06-10 14:41] benjaminhuo commented on #306
you can uninstall and then try `ofn install --all  --region-cn`

[2022-06-12 05:53] ZoeShaw101 opened #307 "ofn demo error, can someone help ?"
[code]

[2022-06-13 02:35] tpiperatgod commented on #307
This flag `--insecure-skip-tls-verify` should be invalid and you can skip it.

[2022-06-13 05:51] benjaminhuo commented on #257
Close this for now because knative supports init container itself without the need to modification to openfunction

[2022-06-13 05:51] #257 closed

[2022-06-13 05:53] benjaminhuo commented on #254
Close this for now because we're going to add OpenFunction's own github/gitlab event source as described in https://github.com/OpenFunction/OpenFunction/issues/303

[2022-06-13 05:53] #254 closed

[2022-06-15 16:00] ZoeShaw101 commented on #307
Run `ofn demo` also get this error

[2022-06-17 06:22] benjaminhuo opened #308 "Support Dapr resiliency"
**Description**
Dapr introduces resiliency in v1.7 https://docs.dapr.io/operations/resiliency/resiliency-overview/
OpenFunction needs to support configuring resiliency

**Additional context**
Within the resiliency spec, users can define policies for popular resiliency patterns, such as:

- [Timeouts](https://docs.dapr.io/operations/resiliency/policies/#timeouts)
- [Retries/back-offs](https://docs.

[2022-06-19 06:17] LinPoLen commented on #306
thank for you remind that it can provide cn mirror optional. actually I have global proxy to access necessity resources.
I still can try to resintall use region-cn.

[2022-06-21 02:38] benjaminhuo commented on #165
Soft limit has been supported by the [target annotation](https://knative.dev/docs/serving/autoscaling/concurrency/) https://openfunction.dev/docs/concepts/function_scaling_trigger/, while [hard limit](https://knative.dev/docs/serving/autoscaling/concurrency/#hard-limit) is not supported yet

[2022-06-21 05:29] tpiperatgod commented on #165
Would it be appropriate to put the "hard limit" in the FAQ?

[2022-06-21 05:57] benjaminhuo commented on #165
Sure, would you help to move FAQ in github to a FAQ section in https://openfunction.dev/docs/reference/ ?

[2022-06-21 06:04] benjaminhuo commented on #165
@tpiperatgod @wanjunlei can openfunction support adding dapr annotations mannually now?
to support  https://docs.dapr.io/operations/configuration/control-concurrency/

![image](https://user-images.githubusercontent.com/18525465/174727589-cab9da9f-72e2-4368-800c-9b6844bc51b2.png)

[2022-06-21 06:06] tpiperatgod commented on #165
openfunction can support this

[2022-06-21 06:08] benjaminhuo opened #310 "Add knative prefix back to the annotation key"
**Description**
Currently, openfunction support adding knative annotations but without knative prefix

![image](https://user-images.githubusercontent.com/18525465/174728087-77d92ec5-4ecc-4b13-b095-845a795de8a7.png)

We should support the original annotation key style with knative prefix like `autoscaling.knative.dev/min-scale: "3"`

**Additional context**
[![image](https://user-images.githubuserco

[2022-06-21 06:11] benjaminhuo commented on #165
OK, then this issue can be closed by adding FAQ for both knative and dapr in https://openfunction.dev/docs/reference/faq

[2022-06-21 06:11] #165 closed

[2022-06-22 08:39] benjaminhuo commented on #306
@wrongerror can tell you how to install openfunction using helm

[2022-06-22 08:44] wrongerror commented on #306
Hi, @LinPoLen. You can try to install openfunction using helm by using this document: https://github.com/OpenFunction/charts/blob/main/README.md.
tested on helm version 3.6.3+

[2022-07-01 13:47] benjaminhuo commented on #196
@wrongerror has created this proposal and began to write code.
@rajibmitra is also willing to work on this. so @wrongerror if you have any subtask for this, don't hesitate to create an issue and assign it to @rajibmitra

[2022-07-10 09:55] ZoeShaw101 opened #317 "Function builder error"
**Description**
deploy demo function https://github.com/OpenFunction/samples/tree/main/functions/knative/hello-world-go to the cluster, but  got build error

[code]

ofn logs got this log:

<img width="1440" alt="Screen Shot 2022-07-10 at 5 50 49 PM" src="https://user-images.githubusercontent.com/13792102/178139853-2c1eea20-3cff-4aa0-99ff-9bb5e9c79844.png">

**Environmental**

- Operating System I

[2022-07-11 01:46] benjaminhuo commented on #317
@ZoeShaw101 You need to set go proxy like below:

[code]

[2022-07-15 06:36] ShuiPingYang opened #326 "The lint result is ok, but install will report an error."
It looks a bit strange, the lint result is ok, but install will report an error.
Can you open an issue here? https://github.com/OpenFunction/charts/issues

thanks for your feedback

_Originally posted by @wrongerror in https://github.com/OpenFunction/OpenFunction/issues/325#issuecomment-1185222866_

[2022-07-15 06:38] #326 closed

[2022-07-15 06:38] ShuiPingYang commented on #326
wrong place

[2022-07-18 01:29] benjaminhuo opened #328 "v0.7.0 release plan"
- [x] OpenFunction Gateway
- [x] Disable Nginx ingress controller for default installation (Helm)
- [x] Replace Kourier with Contour (Helm)
- [x] Prepare Contour gateway installation (Helm)
- [x] Update and test dependent components: Dapr, KEDA, Knative etc. https://github.com/OpenFunction/OpenFunction/issues/260
- [x] Upgrade Dapr to v1.8.3 including helm charts, ff-go、ff-nodejs etc.
- [x] Docs u

[2022-07-18 01:31] #196 closed

[2022-07-19 05:10] webup commented on #260
All of the framework owners should pay special attention to the Dapr upgrade, you'd better check these 3 major versions 1.6 / 1.7 / 1.8 for compatibility, for example, I just found 1.8.0 broke my e2e tests. T.T

[2022-07-19 05:19] benjaminhuo commented on #260
yep, we should pay more attention to Dapr @tpiperatgod @wanjunlei @wrongerror @lizzzcai , especially functions-frameworks

[2022-07-20 11:36] benjaminhuo opened #329 "Add more params to dapr pubsub subscription"
**Description**
Currently, in the pubsub input, only the pubsub component name and topic are provided. https://github.com/OpenFunction/functions-framework-go/blob/main/runtime/async/async.go#L124
[code]

We can provide more params for a better controlled dapr subscription such as using `Match` to filter events:
https://github.com/dapr/go-sdk/blob/main/service/common/type.go#L89
[code]

[2022-07-21 02:57] benjaminhuo commented on #328
https://github.com/OpenFunction/functions-framework-go/pull/57 functions-framework-go has upgrade Dapr to 1.8.1 , thanks @tpiperatgod

[2022-07-23 05:20] ZoeShaw101 commented on #317
@benjaminhuo ok, it solved my problem, thanks!

[2022-07-23 05:21] #317 closed

[2022-07-23 14:57] ZoeShaw101 commented on #329
Hi, I'd like to solve it.

[2022-07-27 09:38] liililil opened #334 "How can openfunction interact with private harbor"
**Description**
Yesterday I saw that openfunction supports java11 builder (openfunction/builder-java:v2-11) in https://openfunction.dev/docs/concepts/function_build/, and then I tried to use it to build a java function to image (https://github.com/OpenFunction/functions-framework-java) and built success.
But today I can't find openfunction/builder-java:v2-11 any more in docker hub, so I try to pus

[2022-07-27 09:50] benjaminhuo commented on #334
@liililil The builder-java:v2-11 is still there in dockerhub

![image](https://user-images.githubusercontent.com/18525465/181218090-159f9098-b92d-4fe9-b899-b18765b75f67.png)

[2022-07-27 09:51] benjaminhuo commented on #334
We do need to support private harbor @wanjunlei

[2022-07-27 10:15] wanjunlei commented on #334
Ok, I will look into this.

[2022-07-27 10:18] liililil commented on #334
@benjaminhuo Thank you for the response! I realized I was using openfunctiondev/builder-java:v2-11 before, instead of openfunction/builder-java:v2-11, I really can't get the openfunction/builder-java, what's the difference between them.
But the openfunctiondev/builder-java:v2-11 can solve my problem for a while~

[2022-07-27 10:23] benjaminhuo commented on #334
openfunction/builder-java is a repo name, you need to add a tag like v2-11 to access the docker image.

11 mean java 11, I think you can use higher versions of java such as `builder-java:v2-16`, `builder-java:v2-17` and `builder-java:v2-18`

[2022-07-27 19:19] xiaocode opened #335 "Node.js samples can not work"
I followed the guide(https://github.com/OpenFunction/samples/tree/main/functions/knative/hello-world-node/commonjs), But after  building successfully, the  SERVINGSTATE is always "Starting", and the URL is empty.

Also I trid the golang sample, the BUILDSTATE failed with log shows: Failure: (ID: 32633c29) go: github.com/OpenFunction/functions-framework-go@v0.3.0: Get "https://proxy.golang.org/gith

[2022-07-28 01:11] webup commented on #335
Could you please check `ksvc` status? "SERVINGSTATE is always "Starting", and the URL is empty" usually caused by knative service not running, let's have a check.

[2022-07-28 01:24] benjaminhuo commented on #335
You'll need to turn on the go proxy by setting the `FUNC_GOPROXY` env for go functions

[code]

[2022-07-28 02:37] liililil commented on #334
@benjaminhuo I can find openfunctiondev/builder-java repo but not openfunction/builder-java repo.
![image](https://user-images.githubusercontent.com/100188324/181408055-7fdfda01-77b4-4fae-b3af-ffda6c33ffe9.png)
![image](https://user-images.githubusercontent.com/100188324/181408116-5f28577d-4c07-487e-9502-24a1f95ca162.png)

[2022-07-28 03:00] benjaminhuo commented on #334
It doesn't matter whether you can search it.
The images can be used if you're able to pull it

[code]

[2022-07-28 17:14] xiaocode commented on #335
I check the ksvc status, it shows that the reason is IngressNotConfigured.I installed the openfunction with the command "ofn install --all --region-cn", and everything installed successfully.

[2022-07-29 08:16] webup commented on #335
So it's clear the problem lies in knative related part, could you please try configure kourier by following this [guide](https://github.com/OpenFunction/samples/tree/main/functions/knative/hello-world-go#deployment)?

[2022-08-03 09:23] benjaminhuo opened #339 "Support pod pool runtime to speed up function cold start"
**Description**
Currently, users have to build a function image first before launching a function instance.
And the function cold start time includes pod scheduling time + container start time.
We can optimize this by introducing a pre-created pod pool and a pre-created agent container, a dapr sidecar container.
Whenever a function instance needs to be created, it picks up a pod from the pod pool

[2022-08-04 07:22] kevinlee607 opened #340 "helm deploy openfuction failed with existing dapr-system"
**Description**
 dapr has been deployed in k8s cluster. perform helm command to deploy openfunction, get below errors:

bash-5.1# helm install openfunction openfunction/openfunction -n openfunction
Error: INSTALLATION FAILED: rendered manifests contain a resource that already exists. Unable to continue with install: Namespace "dapr-system" in namespace "" exists and cannot be imported into the cur

[2022-08-16 07:07] #328 closed

[2022-08-22 02:40] shyupc opened #353 "Can change evnet source handler && trigger handler image repo to private image repo"
**Description**
We try to use event framework to trigger a function，all env in an internal network。But the event controller make eventsource handler image to a constant value。Can make the image value read from Open Function Controller pod env or configmap else？

[2022-08-22 03:20] benjaminhuo commented on #353
It's a good requirement, would you like to create a PR for this? @shyupc
If not, we can fix this later @wrongerror

[2022-08-23 19:50] KlausMikhaelson commented on #267
Hey @tpiperatgod is this issue still open ? if yes than can I work on it ?

[2022-08-23 19:56] KlausMikhaelson opened #355 "Slack link in readme is not working"
**Description**
Slack link in the readme is not working

**Environmental**
Tell us what your cluster environment is like, e.g.

- Operating System Information
- kubernetes version
- OpenFunction version
- Versions of dependent components (e.g. dapr, keda, shipwright, knative)

**Expected behavior**
It should redirect to the slack channel

**Actual behavior**
Showing that the link is no longer acti

[2022-08-23 19:57] KlausMikhaelson commented on #355
If it'll get approved than would like to work on it

[2022-08-24 01:39] benjaminhuo commented on #355
@KlausMikhaelson Where do you find the broken link? The slack link in readme is moved to https://github.com/OpenFunction/community#contact-us

[2022-08-24 05:30] KlausMikhaelson commented on #355
it's here
<img width="735" alt="image" src="https://user-images.githubusercontent.com/100528412/186336557-4fdee25a-823d-479a-98bb-7c79044ed233.png">

[2022-08-24 13:58] benjaminhuo commented on #355
@KlausMikhaelson good catch! Yeah, it'll be good if you can help to change that!
Thanks

[2022-08-24 14:08] KlausMikhaelson commented on #355
Thank you @benjaminhuo would love to make that change and make my first contribution in this community but since it's my first time I am not in the slack channel so can you please add the correct link of the channel here in the comments ?

[2022-08-24 14:09] benjaminhuo commented on #355
You can find it here https://github.com/OpenFunction/community#contact-us

[2022-08-24 14:10] KlausMikhaelson commented on #355
Yeah got it thank you !

[2022-08-24 18:54] KlausMikhaelson commented on #355
Hey @benjaminhuo I am new in this domain so I used to contribute in web development before so I am not sure if we are supposed to install dependencies after cloning it so I just cloned it and made the changes and creating a pr can you please direct me to some documentation on it if there is any ? I have checked the one where it was showing that we just have to clone it and make the changes than cr

[2022-08-25 07:33] #355 closed

[2022-08-29 00:34] #353 closed

[2022-08-29 08:27] benjaminhuo commented on #302
@shaolei7788 we need a proposal like this https://github.com/OpenFunction/OpenFunction/blob/main/docs/proposals/202112-functions-framework-refactoring.md

[2022-08-30 21:47] MBoui opened #358 "Apisix & Gateway API is not working."
**Description**
I am trying to configure openfunction working with apisix and gateway api. I was able to create a simple route with the echo server to check if apisix & gateway api is working.

Now i am stuck with OpenFunction.

**Environmental**

- Operating System Information: ubuntu
- kubernetes version: lastest (with minikube)
- OpenFunction version: lastest

**Expected behavior**
Request the

[2022-08-30 23:12] MBoui commented on #358
i also created the HTTPRoute

[code]

[2022-08-31 08:17] wrongerror commented on #358
Hi, @MBoui , This is because Knative currently only supports `Kourier`, `Istio` and `Contour` as network layers.

When using `Istio` /`Contour` as Gateway API implementation, OpenFuntion can share Istio/Contour with Knative.

When using a Gateway API implementation not supported by knative, you need to install a separate controller  for the network layer of Knative，see [install-a-networking-layer-

[2022-08-31 13:46] MBoui commented on #358
Hmm ok, so if i understand, Knative  (OpenFunction) don't support Apisix as not networking layer are available for Knative.
I am right?

[2022-08-31 14:00] wrongerror commented on #358
Yeah，and we can install a separate controller(Kourier) for Knative , if this works,  i will update the documentation after testing with apisix-ingress-controller v1.5.0-rc.1.

[2022-08-31 15:16] MBoui commented on #358
Ok so i followed the doc to install `Kourier`.
Now when i created a function, i see a new httproute created and then a new apisix route created also because of the `API Gateway` integration.

[code]

When i try:
`curl -i $SERVICE_IP/v2/foo/world -H 'Host: sample.ofn.io'` i got the same error.

but when i try:
`curl -i $SERVICE_IP/v2/foo/world -H 'Host: function-sample.default.svc.cluster.local'`,

[2022-08-31 15:50] MBoui commented on #358
[code]

[2022-08-31 15:56] MBoui commented on #358
Yeap, i did it.
But now i am getting a new error: `Error getting active endpoint: revision.serving.knative.dev "function-sample" not found`
Which i try to figure out why now.

[2022-08-31 16:07] wrongerror commented on #358
yeah, I will try to create native k8s gateway & httproute and knative service directly without OpenFunction. If it still does not work, I think need to check how apisix implements Gateway API.

[2022-09-01 03:39] wrongerror commented on #358
I think that's why it doesn't work:
https://github.com/apache/apisix-ingress-controller/blob/1.5.0-rc1/pkg/ingress/gateway/translation/gateway_httproute.go#L63

apisix-ingress-controller currently does not handle filters，so Knative can't find the active endpoint based on the host in the headers.

[2022-09-01 06:35] tao12345666333 commented on #358
Yes. APISIX Ingress controller has not implemented this function yet.

[2022-09-01 06:36] benjaminhuo commented on #358
@tao12345666333 Is there any plan to support this?

[2022-09-01 06:41] tao12345666333 commented on #358
Will be implemented soon, but since the development window for APISIX Ingress v1.5 has been closed, this feature will be carried over to v1.6

[2022-09-01 12:51] MBoui commented on #358
Yeah, i saw that this morning by continuing my test. Thanks for your help, really appreciate. I will close the issue.

[2022-09-01 12:51] #358 closed

[2022-09-19 06:40] wrongerror opened #360 "Support one-dapr-sidecar-per-function mode"
## Motivation
Currently, OpenFunction injects the dapr sidecar into each Function pod，which leads to following problems：
- Function pod startup time is affected by the dapr sidecar, in my environment the startup time of the dapr sidecar is around 7 seconds.
- The `one-sidecar-per-pod` mode is an blocking issue when we want to use the Function Pool to optimize the cold start speed of the Function.

[2022-09-28 09:38] kid0809 opened #362 "failed to helm install on k8s v1.25"
**Environmental**

- kubernetes version 1.25
- OpenFunction version 0.7.0

**To Reproduce**
Steps to reproduce the behavior:

[code]
see tekton-pipeline error

then,  i try
[code]

see error again
[code]

[2022-09-29 06:39] benjaminhuo opened #363 "OpenFunction v0.8.0 release plan"
**Description**
We're going to release v0.8.0 that includes tasks below:
- [ ] Share one single dapr-proxy between replicas of one function to avoid launching one dapr sidecar for each function replica
- [ ] Adjust functions-framework-go to be able to receive data from the dapr-proxy
- [ ] Adjust functions-framework-nodejs to be able to receive data from the dapr-proxy
- [ ] Adjust functions-frame

[2022-09-29 07:59] RunningMartin opened #364 "OpenFunction-events-framework help"
hi, I am do some practice by the doc [OpenFunction-events-framework.md](https://github.com/OpenFunction/OpenFunction/blob/main/docs/concepts/OpenFunction-events-framework.md).

When I finish the example 1,I have some question：Where can I find the source code of the image **openfunction/sink-sample:latest**?The image used by the function, I want to known the image how to work.

I try to run the ima

[2022-09-29 08:22] RunningMartin commented on #364
hi, I also need this image info:**openfunctiondev/v1beta1-bindings:latest**、 **openfunctiondev/v1beta1-trigger-target:latest**
thanks very much

[2022-10-09 03:53] TaurusM opened #366 "nil pointer when creating function"
![log](https://user-images.githubusercontent.com/28164162/194737022-19dd2f24-6897-4e50-8b23-9d5259c8c5c0.png)
problem occurs when I create function, and more I add the annotations like below into a sync function:
- dapr.io/app-id: user
- dapr.io/app-port: "8080"
- dapr.io/enable-metrics: "false"
- dapr.io/enabled: "true"

[2022-10-09 10:25] TaurusM opened #367 "retrive knaitve error to show in somewhere for easy use"
I surrounded a error by knative controller of this:
![image](https://user-images.githubusercontent.com/28164162/194751379-08f36b2e-452f-4fc9-9e02-c442e8c41353.png)
But I can't see the details in function context, so if anywhere can retrive the error comes from depencies, Openfunction will see further more humanized.
Thanks.

[2022-10-10 09:45] TaurusM opened #368 "can not connect to another function by internal address within k8s cluster"
![image](https://user-images.githubusercontent.com/28164162/194837982-2e847543-3a57-41da-b425-d9c946271faa.png)

![image](https://user-images.githubusercontent.com/28164162/194838023-633beae8-8130-45ae-a47c-1a727b6fb4a5.png)

root cause: when some load balance plugin installed within k8s cluster, the service named gatway in namespace 'openfunction' will use the Extenal-IP created by contour-envoy

[2022-10-12 09:29] jilichao commented on #360
**Great feature!**

[2022-10-12 10:06] jilichao commented on #362
Hi kid0809,

The error shows that you already have APIService named **v1beta1.external.metrics.k8s.io** with default namespace in your k8s cluster. You can get it with command `kubectl get APIService -A | grep "v1beta1.external.metrics.k8s.io"`. It's a KEDA issue, you can discuss it [here](https://github.com/kedacore/keda/issues/470). Maybe you can delete that APIService if you really want to try

[2022-10-12 13:02] Yu-xiaoguang commented on #310
Is this method available in version 0.7.0

[2022-10-13 01:34] benjaminhuo commented on #310
@wrongerror We need to make changes to the knative params as we've discussed before in v0.8.0

[2022-10-13 01:47] wrongerror commented on #310
okay

[2022-10-13 08:55] wrongerror opened #371 "When to enable dapr-proxy mode"
Current logic:

- async function:
  - when "dapr.io/service-mode" is not "sidecar"  in  `serving.spec.annotations`.

- sync function:
  - when "dapr.io/service-mode" is not "sidecar"  in  `serving.spec.annotations` and `serving.spec.outputs` is not nil or `dapr.io/enabled` is true.

And also I didn't change the `serving.spec.annotations` of user configuration, just handle and set annotations when

[2022-10-14 02:30] #366 closed

[2022-10-14 02:30] #368 closed

[2022-10-17 07:08] wrongerror commented on #371
Optimized logic:
- when "openfunction.io/enable-dapr" is "true" and "openfunction.io/dapr-service-mode" is "standalone", enable dapr-proxy.
- when "openfunction.io/enable-dapr" is "true" and "openfunction.io/dapr-service-mode" is "sidecar", enable dapr-sidecar.
- when "openfunction.io/enable-dapr" is "false", disable both dapr-proxy and dapr-sidecar.

The default value of annotations:
- when user

[2022-10-17 07:08] #371 closed

[2022-10-17 07:10] benjaminhuo commented on #371
We need to put this logic into v0.8.0 docs

[2022-10-21 05:59] Charlie17Li opened #376 "The QuickStart doesn't works on kubernetes v1.25.2 in KindD"
**Description**
When I follow the [QuickStart](https://openfunction.dev/docs/getting-started/installation/#install-openfunction), It shows that the HEAD version works on Kubernetes v1.20+, but when I install the openfunction with helm, it occurs an error about PodSecurityPolicy(Removed on Kubernetes v1.25.2).

**Environmental**
Tell us what your cluster environment is like, e.g.

- Operating Syste

[2022-10-21 15:01] TaurusM opened #378 "Dapr-proxy service name fissioned."
When I specified the `dapr.io/app-id: xxx` in block `serving.annotations` , these two will happen:
1. The generated dapr-proxy service name will be `xxx-dapr`;

![image](https://user-images.githubusercontent.com/28164162/197225056-e7a6e0e0-4ed9-4030-b7cf-77313e6989c0.png)

2. The env value of DAPR_HOST in biz container will be `xxx-{namespace}-dapr`.

![image](https://user-images.githubusercontent

[2022-10-25 02:11] liililil opened #379 "Upgrade KEDA CRDs"
**Description**
We should tell people to upgrade the dependent components CRDs from OpenFunction v0.6.0 to OpenFunction v0.7.x. And the docs https://openfunction.dev/docs/getting-started/installation/#from-openfunction-v060-to-openfunction-v07x lacks relevant information of KEDA. When the KEDA version is upgraded, we also need to manually update the CRDs.

[code]

**Additional context**
When I dep

[2022-10-27 11:48] James-JLC opened #380 "Failed to CreateOrUpdate service when function is updated."
Create a example function with [BaaS Integration configuration](https://openfunction.dev/docs/concepts/baas_integration/), then update kafka server to something else and apply the change again.

Go through the logs of openfunction-controller you will find output like below:
`2022-10-27T09:51:33.505Z	ERROR	controllers.Serving.OpenFuncAsync	Failed to CreateOrUpdate service	{"error": "Object default/

[2022-10-28 01:58] wanjunlei commented on #380
The service will be deleted when the old serving is deleted because the old serving owns the service.

The reason for this error is that there will be a delay in the deletion operation, so creating a new service with the same name immediately after deleting the old service may hit the cache.

The solution is to use `GenerateName` to create a random name for the service, just like this.

https://gi

[2022-10-31 07:43] walterlife opened #381 "[WIP]Integrate EventMesh Runtime as OpenFunction Async Framework"
**Proposal**
If you have a detailed proposal, you can also submit it via pull request

An outline of the proposal is provided here for reference:

- Motivation
- Goals
- Example
- Action Items

[2022-11-01 06:08] benjaminhuo commented on #381
@wrongerror @wanjunlei @tpiperatgod @lizzzcai @webup

[2022-11-03 06:42] lizzzcai commented on #381
I will be excited to see how OpenFunction integrates with [EventMesh Workflow](https://eventmesh.apache.org/docs/design-document/workflow).

[2022-11-03 09:42] #380 closed

[2022-11-06 09:11] benjaminhuo commented on #383
@wanjunlei are we able to add labels to tekton step pods by adding labels to shipwright CRD?

[2022-11-06 09:32] oops-oom opened #383 "add label function name to all workload created by function"
As we collect log by fluentd, if we can add function name as label to all workload, we can query all log of this function by label.Knowing we can add labels in serving block, what about building. May be we can add this label to all workload by default.

[2022-11-07 07:53] wanjunlei commented on #383
The shipwright does not support adding labels to tekton.

[2022-11-15 16:59] sachinparihar opened #386 "Failed to install helm on k8s v1.25"
### Environmental
* Kubernetes version: v1.25
* Open Function version 0.3.1

#### To Reproduce
Steps to reproduce the behavior:
[code]
### Showing this error
[code]
I'm new to here. Please suggest how to resolve this.

[2022-11-15 23:33] tpiperatgod commented on #386
You can refer to these two declarations:

- [The autoscaling/v2beta1 API version of HorizontalPodAutoscaler will no longer be served in v1.25.](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#horizontalpodautoscaler-v125)
- [PodSecurityPolicy in the policy/v1beta1 API version will no longer be served in v1.25, and the PodSecurityPolicy admission controller will be removed.](https

[2022-11-16 00:37] benjaminhuo commented on #386
Yep, we'll create a new helm chart for K8s 1.25 and above.

[2022-11-16 10:31] #378 closed

[2022-11-18 03:05] liililil opened #388 "Use bindings in knative sync functions"
According to https://github.com/OpenFunction/OpenFunction/issues/185, I have added bindings to a knative sync function. But I don't know how to actively get the component information in the function, such as the metadata.name.

The samples("CloudEventFunctionImpl&OpenFunctionImpl") provide only a passive way("receive event") to get component information("Context").

But I want the function to be t

[2022-11-18 03:37] benjaminhuo commented on #388
@wrongerror @tpiperatgod As I can remember, the ctx param of sync function has the dapr component metadata info?

[2022-11-18 03:49] liililil commented on #388
I see component information in the FUNC_CONTEXT environment variable, maybe I can get it from the environment variable.

[2022-11-18 06:27] tpiperatgod commented on #388
User ctx cannot fetch the dapr component metadata info...

[2022-11-18 06:31] tpiperatgod commented on #388
It can make sense and maybe you can add a custom plugin to do this work...pls refer to: https://github.com/OpenFunction/samples/blob/main/functions/async/bindings/cron-input-kafka-output/plugins/plugin-custom/plugin-custom.go

[2022-11-18 16:53] sachinparihar opened #389 "Create a secret page not found"
#### Description
When I open this page, showing that error!
link: https://openfunction.dev/docs/getting-started/your-first-function/function-go/#create-a-secret

<img width="953" alt="Screenshot 2022-11-18 215333" src="https://user-images.githubusercontent.com/94243074/202752841-963fd8f6-8589-4b60-80a0-6a8e131a7382.png">

[2022-11-19 05:24] benjaminhuo commented on #389
@sachinparihar where do you find this link? The docs have been revised and the `your first function` section no longer exists anymore.

You can find the new guide here
https://openfunction.dev/docs/getting-started/quickstarts/

[2022-11-19 06:04] sachinparihar commented on #389
Hi! @benjaminhuo, I found this error at best practices `Create a Knative-based Function to Interact with Middleware` section, when I click Prerequisites `created a secret`, the above error appers
https://openfunction.dev/docs/best-practices/interact-with-dapr-output-binding/

[2022-11-19 07:18] benjaminhuo commented on #389
@sachinparihar would you help to change it to https://openfunction.dev/docs/getting-started/quickstarts/prerequisites/  in https://github.com/OpenFunction/openfunction.dev ?

[2022-11-19 12:02] sachinparihar commented on #389
Yes

[2022-11-21 10:07] oops-oom opened #390 "without any change, make command cause many code changes"
[code]

[code]

Is it possible just commit these changes to master ?

[2022-11-21 11:59] benjaminhuo commented on #390
@wrongerror @wanjunlei what do you think?

[2022-11-22 01:26] wanjunlei commented on #390
Yes, it's caused by the kubebuilder version. I think these changes should not be committed.

[2022-11-22 06:28] oops-oom commented on #390
[code]
It happends just after goimports -w.

[2022-11-24 14:49] #389 closed